<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
    <footer class="footer">
        <div class="footer-content">
            <img src="/img/logo.png" alt="cinemates">
            <span id="footer-copyright">
            (04540) 서울특별시 중구 남대문로 120, 그레이츠 청계 3층(삼각동) 대표이사 : 민봉식 ·
                사업자등록번호 : 123-45-67890<br>문화콘텐츠산업 신고번호  : 2024-서울중구-1023 ·
                호스팅사업자 씨네메이트컴퍼니 · 대표이메일
                cinemates@cnm.com<br>Copyright ⓒ 2024 CineMates. All Rights Reserved.</span>
        </div>
    </footer>
</html>