<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}"
      layout:fragment="Content">
<link rel="stylesheet" href="/css/movie/adminMovieList.css">
<main>
<div class="main-container">
    <h1>영화 리스트</h1>
    <div class="search-register-container">
        <div class="search-section">
            <form action="search-movie" method="post">
                <select name="searchCondition" class="common-input">
                    <option value="movieNo">영화번호</option>
                    <option value="title">영화명</option>
                </select>
                <input
                        type="text"
                        name="searchKeyword"
                        class="common-input"
                        placeholder="검색어를 입력해주세요."
                />
                <button type="submit" class="search-btn">검색</button>
            </form>
        </div>
        <div class="register-section">
            <button type="button" class="register-btn" onclick="goInsert();">등록</button>
        </div>
    </div>
    <div class="movie-list-area">
        <table class="common-table">
            <colgroup>
                <col style="width: 10%" />
                <col style="width: 50%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
            </colgroup>
            <thead>
            <tr>
                <th>영화코드</th>
                <th>영화명</th>
                <th>개봉일</th>
                <th>상영 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.movieNo}"></td>
                <td>
                    <a th:href="@{/admin/movie-detail/{movieNo}(movieNo=${movie.movieNo})}">
                        <span th:text="${movie.title}"></span>
                    </a>
                </td>
                <td th:text="${movie.ReleaseDate}"></td>
                <td th:text="${movie.screeningStatus}"></td>
            </tr>
            </tbody>
        </table>
        <ul class="common-pagination">
            <li class="common-pagination-li-end">
                <a th:href="@{/admin/movie-list(cp=${pn.prevPage})}" th:if="${pn.startNavi}">&#10094</a>
            </li>
            <li th:classappend="${p == pn.currentPage} ? 'common-pagination-li common-pagination-li-active' : 'common-pagination-li'" th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
                <a th:href="@{/admin/movie-list(cp=${p})}" th:text="${p}"></a>
            </li>
            <li class="common-pagination-li-end">
                <a th:href="@{/admin/movie-list(cp=${pn.nextPage})}" th:if="${pn.endNavi}">&#10095</a>
            </li>
        </ul>
    </div>
</div>
</main>
<script>
    function goInsert() {
            location.href = "/admin/insert-movie"
    }
</script>
</html>