<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link href="/css/mypage/qna-list.css" rel="stylesheet">
<link href="/css/mypage/my-sidebar.css" rel="stylesheet">
<div class="my-page-container">
    <!-- 사이드바 -->
    <div th:replace="~{mypage/my-sidebar :: my-sidebar}"></div>
    <!-- 메인 -->
    <main id="main-container">
        <div class="qna-list-form">
            <p id="qna-title">1:1 문의 내역 조회</p><br><br><br>
            <div class="qna-header">
                <button id="new-qna-btn">1:1 문의 등록</button>
            </div>
            <div class="search-container">
                <select name="searchCondition">
                    <option value="" selected disabled>전체</option>
                    <option value="no-reply">미답변</option>
                    <option value="replied">답변완료</option>
                </select>
                <input type="text" class="common-input-box" id="keyword-input-box" name="searchKeyword" placeholder="제목으로 검색">
                <button type="button" id="search-btn"></button>
            </div>
            <table id="qna-table">
                <colgroup>
                    <col style="width: 15%"/>
                    <col style="width: 45%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일자</th>
                        <th>답변상태</th>
                    </tr>
                </thead>
                <tbody id="qna-list-body">
                    <tr>
                        <td>번호</td>
                        <td><a class="qna-detail-link">제목제목제목제목제목</a></td>
                        <td>작성일자</td>
                        <td>답변상태</td>
                    </tr>
                    <tr>
                        <td>번호</td>
                        <td><a class="qna-detail-link">제목제목제목제목제목제목</a></td>
                        <td>작성일자</td>
                        <td>답변상태</td>
                    </tr>
                    <tr>
                        <td>번호</td>
                        <td><a class="qna-detail-link">제목제목제목</a></td>
                        <td>작성일자</td>
                        <td>답변상태</td>
                    </tr>
                    <tr>
                        <td>번호</td>
                        <td><a class="qna-detail-link">제목제목제목제목제목</a></td>
                        <td>작성일자</td>
                        <td>답변상태</td>
                    </tr>
                    <tr>
                        <td>번호</td>
                        <td><a class="qna-detail-link">제목제목제목제목제목제목제목제목제목제목제목</a></td>
                        <td>작성일자</td>
                        <td>답변상태</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<script type="text/javascript" src="/js/mypage/qna-list.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector('#side-menu-3').classList.add('selected');
    })
</script>
</html>