<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link rel="stylesheet" href="/css/cinema/showtimeadmin.css">

  <head>
      <meta charset="UTF-8">
      <title>상영일정</title>

  </head>
  <body>
  <h1>상영 일정</h1>
  <input type="hidden" name="cinemaNo" th:value="${cinemaNo}">
  <button th:onclick="adminscreen([[${cinemaNo}]])">상영관 관리</button>
  <button th:onclick="showtimeinsert([[${cinemaNo}]])">상영 추가</button>

  <button onclick="backone()">뒤로가기</button>
  <br>
  <h1>현재 상영일정</h1>
    <div style="width:80%;text-align:left;">
      <th th:each="showtime, stat : ${sList}" >
          <div th:if="(${stat.index == 0} or ${sList[stat.index - 1].screenName != showtime.screenName}) or (${stat.index == 0} or${sList[stat.index - 1].movieNo != showtime.movieNo})" style="width:100%;">[[${showtime.title}]]</div>
          <div th:if="(${stat.index == 0} or ${sList[stat.index - 1].screenName != showtime.screenName}) or (${stat.index == 0} or${sList[stat.index - 1].movieNo != showtime.movieNo})" style="width:100%;">
              <div>[[${showtime.screenName}]]/[[${showtime.screenSeat}]]석</div><br>
              <div>상영 시작 :[[${showtime.showtimeStart}]]</div><br>
              <div>상영 종료 :[[${showtime.showtimeEnd}]]</div><br>
          </div>

          <div th:if="${stat.index == 0} or ${sList[0].screenName==showtime.screenName} or${sList[stat.index - 1].screenName == showtime.screenName}"  style="width:100px;height:100px;" >
              <!-- showtimeTime 출력 -->
              <a class="screen" style="display:block; height:60px;">
                  <div>[[${showtime.showtimeTime}]] <br>[[${showtime.availableSeats}]]석</div><br>
              </a>
          </div>
          <div th:unless="${stat.index == 0} or ${sList[0].screenName==showtime.screenName} or${sList[stat.index - 1].screenName == showtime.screenName}"  style="width:100px;height:100px;" >

              <!-- showtimeTime 출력 -->
              <a class="screen" style="display:block; height:60px;">
                  <div>[[${showtime.showtimeTime}]] <br>[[${showtime.availableSeats}]]석</div><br>
              </a>


          </div>
      </th>
  </div>
  <h1>전체 상영일정</h1>
  <table>
      <tr>
          <th>상영번호</th>
          <th>이름</th>
          <th>영화제목</th>
          <th>남은좌석수</th>
          <th>상영시작시간</th>
          <th>상영시작일정</th>
          <th>상영종료일정</th>

      </tr>
      <tr th:each="show:${allsList}">
          <td>[[${show.showtimeNo}]]</td>
          <td><a style="background: none; color: #ff6f61; padding: 0; margin: 0; border: none; text-decoration: underline; cursor: pointer;" href="" th:onclick="updateshowtime([[${show.showtimeNo}]])">[[${show.screenName}]]</a></td>
          <td>[[${show.title}]]</td>
          <td>[[${show.showtimeSeat}]]</td>
          <td>[[${show.showtimeTime}]]</td>
          <td>[[${show.showtimeStart}]]</td>
          <td>[[${show.showtimeEnd}]]</td>
      </tr>
  </table>
<br>
  <script>
      function showtimeinsert(a){
          var popupW = 600;
          var popupH = 800;
          var left = Math.ceil((window.screen.width - popupW)/2);
          var top = Math.ceil((window.screen.height - popupH)/2);
          writeWindow=window.open("/admin/showtimeinsert"+a,"pop","width=600,height=800,left="+left+",top="+top+"");
      }
      function adminscreen(a){
          location.href="/admin/screen"+a;
      }
      function updateshowtime(a){
          var popupW = 600;
          var popupH = 800;
          var left = Math.ceil((window.screen.width - popupW)/2);
          var top = Math.ceil((window.screen.height - popupH)/2);
          writeWindow=window.open("/admin/updateshowtime"+a,"pop","width=600,height=800,left="+left+",top="+top+"");
      }
      function backone(){
          window.history.back();
      }
  </script>

  </body>
</html>