<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filmfellows.cinemates.domain.chat.model.mapper.ChatMapper">
<!--   현재 상영중인 영화 리스트 조회 -->
    <select id="selectMovieAll" resultType="ChatRoomMovie">
        SELECT * FROM MOVIE_TBL WHERE SCREENING_STATUS = 'NOW SHOWING'
    </select>

<!--   지역별 극장 리스트 조회 -->
    <select id="selectCinemaByRegion" resultType="CinemaInfoByRegion">
        SELECT DISTINCT d.CINEMA_NAME, d.CINEMA_NO
        FROM MOVIE_TBL a
                 JOIN SHOWTIME_TBL b ON b.MOVIE_NO = a.MOVIE_NO
                 JOIN SCREEN_TBL c ON b.SCREEN_NO = c.SCREEN_NO
                 JOIN CINEMA_TBL d ON c.CINEMA_NO = d.CINEMA_NO
        WHERE CINEMA_LOCATION_CODE = #{cinemaLocationCode} AND a.MOVIE_NO = #{movieNo}
        ORDER BY CINEMA_NO ASC
    </select>

<!--   영화별 특정 지역에 해당하는 극장 수 조회 -->
    <select id="selectCinemaCountByRegionByMovie" resultType="RegionAndCinemaCount">
        SELECT CINEMA_LOCATION_CODE, COUNT(DISTINCT d.cinema_name) cinemaCount
        FROM movie_Tbl a
            JOIN SHOWTIME_TBL b ON b.movie_no = a.movie_no
            JOIN SCREEN_TBL c ON b.screen_no = c.screen_no
            JOIN CINEMA_TBL d ON c.cinema_no = d.cinema_no
        WHERE a.movie_no = #{movieNo}
        GROUP BY CINEMA_LOCATION_CODE
    </select>

<!--   채팅방 검색 조회 -->
    <select id="selectChatRoomList" resultType="ChatRoom">
        SELECT chat.ROOM_NO, chat.ROOM_NAME, chat.ROOM_WRITER, chat.ROOM_DATE, chat.ROOM_CATEGORY,
               chat.MOVIE_NO, movie.TITLE, movie.POSTER_URL,
               chat.CINEMA_LOCATION_CODE,
               SUBSTR(cinema.CINEMA_ADDRESS, 1, INSTR(cinema.CINEMA_ADDRESS, ' ') - 1) CINEMA_ADDRESS, cinema.CINEMA_NO, cinema.CINEMA_NAME
        , profile.FILE_RENAME, profile.FILE_PATH
        FROM CHAT_ROOM_TBL chat
                JOIN MOVIE_TBL movie ON chat.MOVIE_NO = movie.MOVIE_NO
                JOIN CINEMA_TBL cinema ON chat.CINEMA_NO = cinema.CINEMA_NO
                LEFT JOIN PROFILE_IMG_TBL profile ON chat.ROOM_WRITER = profile.MEMBER_ID
            <if test="tagName != null and tagName != ''">
                JOIN CHAT_ROOM_TAG_TBL tag ON chat.ROOM_NO = tag.ROOM_NO
            </if>
        WHERE 1=1
--           태그 검색 시 실행되는 쿼리문
            <if test="tagName != null and tagName != ''">
                AND tag.TAG_NAME = #{tagName}
            </if>

--          키워드 검색 시 실행되는 쿼리문
            <if test="searchMovieList != null and !searchMovieList.isEmpty()">
                AND
                <foreach item="movie" collection="searchMovieList" separator=" OR ">
                    movie.TITLE LIKE '%'||#{movie}||'%'
                </foreach>
            </if>
            <if test="searchRoomList != null and !searchRoomList.isEmpty()">
                AND
                <foreach item="room" collection="searchRoomList" separator=" OR ">
                    chat.ROOM_NAME LIKE '%'||#{room}||'%'
                </foreach>
            </if>
            <if test="searchRegionList != null and !searchRegionList.isEmpty()">
                AND
                <foreach item="region" collection="searchRegionList" separator=" OR ">
                    cinema.CINEMA_ADDRESS LIKE '%'||#{region}||'%'
                </foreach>
            </if>
        ORDER BY chat.ROOM_DATE DESC
    </select>

<!--    내 채팅방 조회-->
    <select id="selectMyChatRoomList" resultType="ChatRoom">
        SELECT chat.ROOM_NO, chat.ROOM_NAME, chat.ROOM_WRITER, chat.ROOM_DATE, chat.ROOM_CATEGORY,
        chat.MOVIE_NO, movie.TITLE, movie.POSTER_URL,
        chat.CINEMA_LOCATION_CODE,
        SUBSTR(cinema.CINEMA_ADDRESS, 1, INSTR(cinema.CINEMA_ADDRESS, ' ') - 1) CINEMA_ADDRESS, cinema.CINEMA_NO, cinema.CINEMA_NAME
        , profile.FILE_RENAME, profile.FILE_PATH
        FROM CHAT_ROOM_TBL chat
        JOIN MOVIE_TBL movie ON chat.MOVIE_NO = movie.MOVIE_NO
        JOIN CINEMA_TBL cinema ON chat.CINEMA_NO = cinema.CINEMA_NO
        LEFT JOIN PROFILE_IMG_TBL profile ON chat.ROOM_WRITER = profile.MEMBER_ID
        LEFT JOIN CHAT_JOIN_TBL chatJoin ON chat.ROOM_NO = chatJoin.ROOM_NO
        WHERE chatJoin.MEMBER_ID = #{writer}

        ORDER BY chat.ROOM_DATE DESC
    </select>

<!--   채팅방 태그 조회 -->
    <select id="selectChatTagList" resultType="ChatTag">
        <if test="status == 'default'">
            SELECT * FROM CHAT_ROOM_TAG_TBL
        </if>
        <if test="status == 'distinct'">
            SELECT TAG_NAME, COUNT(*) AS TAG_COUNT FROM CHAT_ROOM_TAG_TBL GROUP BY TAG_NAME ORDER BY TAG_COUNT DESC
        </if>


    </select>

<!--   채팅방 개설 및 채팅방 번호 필드값 생성 -->
    <insert id="insertChatRoom" useGeneratedKeys="true">
        <selectKey order="BEFORE" resultType="_int" keyProperty="roomNo">
            SELECT SEQ_ROOM_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CHAT_ROOM_TBL VALUES(#{roomNo},#{roomName},DEFAULT,#{roomCategory},#{movieNo},#{cinemaLocationCode},#{cinemaNo}, #{roomWriter})
    </insert>

<!--   채팅방 태그 등록 -->
    <insert id="insertTag">
        INSERT INTO CHAT_ROOM_TAG_TBL VALUES(SEQ_ROOM_TAG_NO.NEXTVAL, #{tagName}, #{roomNo})
    </insert>

<!--   채팅방 프로필 전체 조회 -->
    <select id="selectProfileList" resultType="ProfileImg">
        SELECT * FROM PROFILE_IMG_TBL
    </select>


<!--    채팅방 개수 조회-->
    <select id="getTotalCount" resultType="_int">
        <if test="tagName != null">
            SELECT COUNT(distinct chat.ROOM_NAME)  FROM CHAT_ROOM_TBL chat
            JOIN CHAT_ROOM_TAG_TBL tag ON chat.ROOM_NO = tag.ROOM_NO
            WHERE TAG_NAME = #{tagName}
        </if>
        <if test="tagName == null and (searchMovieList.isEmpty() and searchRoomList.isEmpty() and searchRegionList.isEmpty())">
            SELECT COUNT(*) FROM CHAT_ROOM_TBL
        </if>
        <if test="tagName == null and (!searchMovieList.isEmpty() or !searchRoomList.isEmpty() or !searchRegionList.isEmpty())">
            SELECT COUNT(*)
            FROM CHAT_ROOM_TBL chat
            JOIN MOVIE_TBL movie ON chat.MOVIE_NO = movie.MOVIE_NO
            JOIN CINEMA_TBL cinema ON chat.CINEMA_NO = cinema.CINEMA_NO
            WHERE 1=1

            <if test="searchMovieList != null and !searchMovieList.isEmpty()">
                AND
                <foreach item="movie" collection="searchMovieList" separator=" OR ">
                    movie.TITLE LIKE '%'||#{movie}||'%'
                </foreach>
            </if>
            <if test="searchRoomList != null and !searchRoomList.isEmpty()">
                AND
                <foreach item="room" collection="searchRoomList" separator=" OR ">
                    chat.ROOM_NAME LIKE '%'||#{room}||'%'
                </foreach>
            </if>
            <if test="searchRegionList != null and !searchRegionList.isEmpty()">
                AND
                <foreach item="region" collection="searchRegionList" separator=" OR ">
                    cinema.CINEMA_ADDRESS LIKE '%'||#{region}||'%'
                </foreach>
            </if>
        </if>
    </select>

    <select id="getMyTotalCount" resultType="_int">
        SELECT COUNT(*) FROM CHAT_JOIN_TBL WHERE MEMBER_ID = #{writer}
    </select>


    <select id="selectChatJoinList" resultType="ChatJoinProfile">
        SELECT MEMBER_ID, ROOM_NO, FILE_RENAME, FILE_PATH
        FROM CHAT_JOIN_TBL
        LEFT JOIN PROFILE_IMG_TBL USING(MEMBER_ID) WHERE ROOM_NO=#{roomNo}
    </select>

    <insert id="insertChatJoin">
        INSERT INTO CHAT_JOIN_TBL VALUES(#{roomNo}, #{memberId}, DEFAULT, DEFAULT)
    </insert>

    <insert id="insertChatMessage">
        INSERT INTO CHAT_TBL VALUES(SEQ_CHAT_NO.NEXTVAL, #{chatContent}, #{roomNo}, #{memberId}, DEFAULT, #{messageType})
    </insert>

    <select id="selectMyJoinDate" resultType="java.sql.Timestamp">
        SELECT CHAT_DATE
        FROM (
                 -- 대화방에 다시 참여한 시점을 구하는 쿼리
                 SELECT CHAT_DATE
                 FROM CHAT_TBL
                 WHERE MEMBER_ID = #{memberId}
                   AND ROOM_NO = #{roomNo}
                   AND CHAT_CONTENT LIKE #{memberId} || '님이 대화방에 참여했습니다' || '%'
                   AND CHAT_NO >= (
                     -- 마지막으로 나간 시점을 구하는 서브쿼리, 없으면 0으로 처리
                     NVL((
                             SELECT MAX(CHAT_NO)
                             FROM CHAT_TBL
                             WHERE MEMBER_ID = #{memberId}
                               AND CHAT_CONTENT LIKE #{memberId} || '님이 대화방을 나갔습니다' || '%'
                         ), 0)
                     )
                 ORDER BY CHAT_NO ASC
             )
        WHERE ROWNUM = 1
    </select>

    <select id="selectChatMessageList" resultType="chatMessageAndProfile">
        SELECT * FROM CHAT_TBL
           LEFT JOIN PROFILE_IMG_TBL USING(MEMBER_ID)
            WHERE ROOM_NO = #{roomNo} AND
            CHAT_DATE >= #{myJoinDate}
        ORDER BY CHAT_DATE ASC
    </select>

    <delete id="deleteMemberJoinByRoom">
        DELETE FROM CHAT_JOIN_TBL WHERE MEMBER_ID=#{memberId} AND ROOM_NO=#{roomNo}
    </delete>

    <select id="checkOnOffStatus" resultType="ChatJoinProfile">
        SELECT * FROM CHAT_JOIN_TBL WHERE ROOM_NO = #{roomNo}
    </select>

    <update id="updateOnOffStatus">
        UPDATE CHAT_JOIN_TBL SET STATUS = #{onOffStatus} WHERE ROOM_NO = #{roomNo} AND MEMBER_ID = #{memberId}
    </update>

    <delete id="deleteChatRoom">
        DELETE FROM CHAT_ROOM_TBL WHERE ROOM_NO = #{roomNo}
    </delete>

    <delete id="deleteMessageOfChatRoom">
        DELETE FROM CHAT_TBL WHERE ROOM_NO = #{roomNo}
    </delete>

    <update id="updateAcceptStatus">
        UPDATE CHAT_JOIN_TBL SET ACCEPT_STATUS = #{acceptStatus} WHERE ROOM_NO = #{roomNo} AND MEMBER_ID = #{memberId}
    </update>
</mapper>