<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filmfellows.cinemates.domain.chat.model.mapper.ChatMapper">
<!--   현재 상영중인 영화 리스트 조회 -->
    <select id="selectMovieAll" resultType="ChatRoomMovie">
        SELECT * FROM MOVIE_TBL WHERE SCREENING_STATUS = 'NOW SHOWING'
    </select>

<!--   지역별 극장 리스트 조회 -->
    <select id="selectCinemaByRegion" resultType="CinemaInfoByRegion">
        SELECT DISTINCT d.CINEMA_NAME, d.CINEMA_NO
        FROM MOVIE_TBL a
                 JOIN SHOWTIME_TBL b ON b.MOVIE_NO = a.MOVIE_NO
                 JOIN SCREEN_TBL c ON b.SCREEN_NO = c.SCREEN_NO
                 JOIN CINEMA_TBL d ON c.CINEMA_NO = d.CINEMA_NO
        WHERE CINEMA_LOCATION_CODE = #{cinemaLocationCode} AND a.MOVIE_NO = #{movieNo}
        ORDER BY CINEMA_NO ASC
    </select>

<!--   영화별 특정 지역에 해당하는 극장 수 조회 -->
    <select id="selectCinemaCountByRegionByMovie" resultType="RegionAndCinemaCount">
        SELECT CINEMA_LOCATION_CODE, COUNT(DISTINCT d.cinema_name) cinemaCount
        FROM movie_Tbl a
            JOIN SHOWTIME_TBL b ON b.movie_no = a.movie_no
            JOIN SCREEN_TBL c ON b.screen_no = c.screen_no
            JOIN CINEMA_TBL d ON c.cinema_no = d.cinema_no
        WHERE a.movie_no = #{movieNo}
        GROUP BY CINEMA_LOCATION_CODE
    </select>

<!--   채팅방 전체 조회 -->
    <select id="selectChatRoomList" resultType="ChatRoom">
        SELECT chat.ROOM_NO, chat.ROOM_NAME, chat.ROOM_WRITER, chat.ROOM_DATE, chat.ROOM_CATEGORY,
               chat.MOVIE_NO, movie.TITLE, movie.POSTER_URL,
               chat.CINEMA_LOCATION_CODE,
               SUBSTR(cinema.CINEMA_ADDRESS, 1, INSTR(cinema.CINEMA_ADDRESS, ' ') - 1) CINEMA_ADDRESS, cinema.CINEMA_NO, cinema.CINEMA_NAME
        FROM CHAT_ROOM_TBL chat
                 JOIN MOVIE_TBL movie ON chat.MOVIE_NO = movie.MOVIE_NO
                 JOIN CINEMA_TBL cinema ON chat.CINEMA_NO = cinema.CINEMA_NO
        ORDER BY chat.ROOM_DATE DESC
    </select>

<!--   채팅방 태그 조회 -->
    <select id="selectChatTagList" resultType="ChatTag">
        SELECT * FROM CHAT_ROOM_TAG_TBL
    </select>

<!--   채팅방 개설 및 채팅방 번호 필드값 생성 -->
    <insert id="insertChatRoom" useGeneratedKeys="true">
        <selectKey order="BEFORE" resultType="_int" keyProperty="roomNo">
            SELECT SEQ_ROOM_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CHAT_ROOM_TBL VALUES(#{roomNo},#{roomName},DEFAULT,#{roomCategory},#{movieNo},#{cinemaLocationCode},#{cinemaNo})
    </insert>

<!--   채팅방 태그 등록 -->
    <insert id="insertTag">
        INSERT INTO CHAT_ROOM_TAG_TBL VALUES(SEQ_ROOM_TAG_NO.NEXTVAL, #{tagName}, #{roomNo})
    </insert>

<!--   채팅방 프로필 전체 조회 -->
    <select id="selectProfileList" resultType="ProfileImg">
        SELECT * FROM PROFILE_IMG_TBL
    </select>
</mapper>