<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.filmfellows.cinemates.domain.store.model.mapper.GiftMapper">

    <insert id="insertGift" parameterType="Gift">
        <selectKey keyProperty="giftNo" resultType="int" order="BEFORE">
            SELECT SEQ_GIFT_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO GIFT_TBL (
        GIFT_NO, SENDER_ID, RECIPIENT_ID, RECIPIENT_NAME, RECIPIENT_PHONE,
        MESSAGE, TOTAL_AMOUNT, TOTAL_DISCOUNT_AMOUNT, FINAL_AMOUNT,
        PAYMENT_METHOD, IS_TRANSFERRED
        ) VALUES (
        #{giftNo}, #{senderId}, #{recipientId}, #{recipientName}, #{recipientPhone},
        #{message}, #{totalAmount}, #{totalDiscountAmount}, #{finalAmount},
        #{paymentMethod}, #{isTransferred}
        )
    </insert>

    <insert id="insertGiftItem" parameterType="com.filmfellows.cinemates.domain.store.model.vo.Gift">
        INSERT INTO GIFT_ITEM_TBL (GIFT_NO, PRODUCT_NO, QUANTITY, PRICE, DISCOUNT_AMOUNT)
        VALUES (#{giftNo}, #{productNo}, #{quantity}, #{price}, #{discountAmount})
    </insert>

    <update id="updateGift" parameterType="Gift">
        UPDATE GIFT_TBL
        SET RECIPIENT_ID = #{recipientId},
            RECIPIENT_NAME = #{recipientName},
            RECIPIENT_PHONE = #{recipientPhone},
            MESSAGE = #{message},
            TOTAL_AMOUNT = #{totalAmount},
            TOTAL_DISCOUNT_AMOUNT = #{totalDiscountAmount},
            FINAL_AMOUNT = #{finalAmount},
            PAYMENT_METHOD = #{paymentMethod},
            IS_TRANSFERRED = #{isTransferred},
            UPDATE_DATE = SYSTIMESTAMP
        WHERE GIFT_NO = #{giftNo}
    </update>

    <select id="selectGiftByNo" resultMap="giftResultMap">
        SELECT g.*, gi.*
        FROM GIFT_TBL g
                 LEFT JOIN GIFT_PRODUCT_TBL gi ON g.GIFT_NO = gi.GIFT_NO
        WHERE g.GIFT_NO = #{giftNo}
    </select>

    <!-- 선물받는 회원 정보 조회 쿼리문-->
    <select id="findMemberByNameAndPhone" resultType="Member">
        SELECT * FROM MEMBER_TBL
        WHERE NAME = #{name}
          AND PHONE = #{phone}
    </select>

    <select id="selectGiftItemsByGiftNo" resultType="Gift">
        SELECT * FROM GIFT_TBL
        WHERE GIFT_NO = #{giftNo}
    </select>

    <resultMap id="giftResultMap" type="Gift">
        <id property="giftNo" column="GIFT_NO"/>
        <result property="senderId" column="SENDER_ID"/>
        <result property="recipientId" column="RECIPIENT_ID"/>
        <result property="recipientName" column="RECIPIENT_NAME"/>
        <result property="recipientPhone" column="RECIPIENT_PHONE"/>
        <result property="message" column="MESSAGE"/>
        <result property="totalAmount" column="TOTAL_AMOUNT"/>
        <result property="totalDiscountAmount" column="TOTAL_DISCOUNT_AMOUNT"/>
        <result property="finalAmount" column="FINAL_AMOUNT"/>
        <result property="paymentMethod" column="PAYMENT_METHOD"/>
        <result property="isTransferred" column="IS_TRANSFERRED"/>
        <collection property="giftItems" ofType="GiftItem">
            <id property="giftNo" column="GIFT_NO"/>
            <id property="productNo" column="PRODUCT_NO"/>
            <result property="quantity" column="QUANTITY"/>
            <result property="price" column="PRICE"/>
            <result property="discountAmount" column="DISCOUNT_AMOUNT"/>
        </collection>
    </resultMap>
</mapper>