<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.filmfellows.cinemates.domain.member.model.mapper.MemberMapper">
    <!-- 아이디로 일반 회원정보 조회(로그인) -->
    <select id="selectOneById" resultType="Member">
        SELECT *
        FROM MEMBER_TBL
        WHERE MEMBER_ID = #{memberId}
    </select>
    <!-- 아이디로 소셜 회원정보 조회(로그인) -->
    <select id="selectOneSnsById" resultType="SnsProfile">
        SELECT *
        FROM SNS_INFO_TBL
        WHERE SNS_ID = #{snsId}
    </select>
    <select id="selectOneKakaoById" resultType="SnsProfile">
        SELECT *
        FROM SNS_INFO_TBL
        WHERE SNS_ID = #{snsId}
    </select>
    <!-- 이름, 이메일로 일반 회원정보 조회(아이디 찾기) -->
    <select id="selectOneByNameAndEmail" resultType="Member">
        SELECT *
        FROM MEMBER_TBL
        WHERE NAME = #{name}
        AND EMAIL = #{email}
    </select>
    <!-- 아이디, 이메일로 일반 회원정보 조회(비밀번호 찾기) -->
    <select id="selectOneByIdAndEmail" resultType="Member">
        SELECT *
        FROM MEMBER_TBL
        WHERE MEMBER_ID = #{memberId}
        AND EMAIL = #{email}
    </select>
    <!-- 아이디로 프로필 사진 조회(로그인, 정보수정) -->
    <select id="selectOneProfileImgById" resultType="ProfileImg">
        SELECT *
        FROM PROFILE_IMG_TBL
        WHERE MEMBER_ID = #{memberId}
    </select>
    <!-- 아이디 중복 검사(일반 회원가입) -->
    <select id="countByMemberId" resultType="boolean">
        SELECT COUNT(*)
        FROM MEMBER_TBL
        WHERE MEMBER_ID = #{memberId}
    </select>
    <!-- 이메일 중복 검사(일반 회원가입) -->
    <select id="countByEmail" resultType="boolean">
        SELECT COUNT(*)
        FROM MEMBER_TBL
        WHERE EMAIL = #{email}
    </select>
    <!-- 소셜로그인 가입 여부 확인 -->
    <select id="selectSnsIdByEmailAndType">
        SELECT SNS_ID
        FROM SNS_INFO_TBL
        WHERE EMAIL = #{email}
        AND SNS_TYPE = #{snsType}
    </select>
    <!-- 신고 상태 조회(로그인) -->
    <select id="searchOneReportById" resultType="Report">
        SELECT *
        FROM (SELECT *
              FROM REPORT_TBL
              WHERE REPORT_ID = #{reportId}
              ORDER BY REPORT_NO DESC
              )
        WHERE ROWNUM = 1
    </select>
    <!-- 일반 회원가입 -->
    <insert id="insertMember">
        INSERT INTO MEMBER_TBL (MEMBER_ID, MEMBER_PW, NAME, BIRTH_DATE, EMAIL, PHONE)
        VALUES (#{memberId}, #{memberPw}, #{name}, #{birthDate}, #{email}, #{phone})
    </insert>
    <!-- 소셜 회원가입(MEMBER 테이블) -->
    <insert id="insertSnsIdToMember">
        INSERT INTO MEMBER_TBL (MEMBER_ID)
        VALUES (#{memberId})
    </insert>
    <!-- 소셜 회원가입(SNS_INFO 테이블) -->
    <insert id="insertSnsMember">
        INSERT INTO SNS_INFO_TBL (SNS_ID, MEMBER_ID, SNS_TYPE, NAME, PROFILE_IMG, EMAIL, BIRTH_DATE, MOBILE)
        VALUES (#{snsId}, #{memberId}, #{snsType}, #{name}, #{profileImg}, #{email}, #{birthDate}, #{mobile})
    </insert>
    <!-- 회원 정보수정 -->
    <update id="updateMember">
        UPDATE MEMBER_TBL
        <set>
            <if test="memberPw != null"> MEMBER_PW = #{memberPw}, </if>
            <if test="phone != null"> PHONE = #{phone} </if>
        </set>
        WHERE MEMBER_ID = #{memberId}
    </update>
    <!-- 회원탈퇴 -->
    <update id="deleteMember">
        UPDATE MEMBER_TBL
        SET DELETE_YN = 'Y'
        WHERE MEMBER_ID = #{memberId}
    </update>
    <!-- 비밀번호 재설정 -->
    <update id="updatePassword">
        UPDATE MEMBER_TBL
        SET MEMBER_PW = #{memberPw}
        WHERE MEMBER_ID = #{memberId}
    </update>
    <!-- 프로필사진 등록 -->
    <insert id="insertProfileImg">
        INSERT INTO PROFILE_IMG_TBL
        VALUES (SEQ_PROFILE_IMG_NO.NEXTVAL, #{fileName}, #{fileRename}, #{filePath}, #{memberId})
    </insert>
    <!-- 프로필사진 수정 -->
    <update id="updateProfileImg">
        UPDATE PROFILE_IMG_TBL
        SET FILE_NAME = #{fileName}, FILE_RENAME = #{fileRename}, FILE_PATH = #{filePath}
        WHERE MEMBER_ID = #{memberId}
    </update>
    <!-- 소셜 회원탈퇴 -->
    <delete id="deleteSnsMember">
        DELETE FROM MEMBER_TBL
        WHERE MEMBER_ID = #{snsId}
    </delete>
</mapper>