<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper namespace 경로 확인 -->
<mapper namespace="com.filmfellows.cinemates.domain.payment.model.mapper.PaymentMapper">
    <!--결제 정보 insert -->
    <insert id="insertPaymentInfo">
        INSERT INTO PAYMENT_TBL (IMP_UID, MERCHANT_UID, AMOUNT, STATUS,BUYER_EMAIL, BUYER_NAME, BUYER_TEL, NAME,MOVIE_NO,SCREEN_NO,RESERVATION_NO) VALUES (#{imp_uid},#{merchant_uid},#{amount},DEFAULT,#{buyer_email},#{buyer_name},#{buyer_tel},#{name},#{movieNo},#{screenNo},#{reservationNo})
    </insert>
    <!-- imp_uid select-->
    <select id="selectImpUid" resultType="String">
        SELECT IMP_UID FROM PAYMENT_TBL WHERE RESERVATION_NO = #{reservationNo}
    </select>
    <!--결제 정보 delete -->
    <delete id="deletePaymentInfo">
        DELETE FROM PAYMENT_TBL WHERE IMP_UID = #{imp_uid}
    </delete>
</mapper>