<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.filmfellows.cinemates.domain.store.model.mapper.PurchaseMapper">

    <select id="selectPurchaseDetails" parameterType="int" resultType="Purchase">
        SELECT p.PURCHASE_NO, p.MEMBER_ID, pi.QUANTITY, p.TOTAL_AMOUNT, p.TOTAL_DISCOUNT_AMOUNT, p.FINAL_AMOUNT,
            pr.PRODUCT_NO, pr.PRODUCT_NAME, pr.IMAGE_URL, pr.PRICE,
            m.NAME AS memberName, m.PHONE AS memberPhone, m.EMAIL AS memberEmail
        FROM PURCHASE_TBL p
        JOIN PURCHASE_ITEM_TBL pi ON p.PURCHASE_NO = pi.PURCHASE_NO
        JOIN PRODUCT_TBL pr ON pi.PRODUCT_NO = pr.PRODUCT_NO
        JOIN MEMBER_TBL m ON p.MEMBER_ID = m.MEMBER_ID
        WHERE p.PURCHASE_NO = #{purchaseNo}
    </select>

    <insert id="insertPurchase" parameterType="Purchase" useGeneratedKeys="true" keyProperty="purchaseNo" keyColumn="PURCHASE_NO">
        <selectKey keyProperty="purchaseNo" resultType="int" order="BEFORE">
            SELECT SEQ_PURCHASE_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO PURCHASE_TBL (PURCHASE_NO, MEMBER_ID, RECIPIENT_MEMBER_ID, PURCHASE_DATE, STATUS, GIFT_YN, PAYMENT_METHOD,
                              TOTAL_AMOUNT, TOTAL_DISCOUNT_AMOUNT, FINAL_AMOUNT)
        VALUES (#{purchaseNo}, #{memberId}, #{recipientMemberId}, SYSTIMESTAMP, #{status}, #{giftYn}, #{paymentMethod},
                #{totalAmount}, #{totalDiscountAmount}, #{finalAmount})
    </insert>

    <insert id="insertPurchaseItem" parameterType="PurchaseItem">
        INSERT INTO PURCHASE_ITEM_TBL (PURCHASE_NO, PRODUCT_NO, QUANTITY, PURCHASE_PRICE, PURCHASE_DISCOUNT_AMOUNT)
        VALUES (#{purchaseNo}, #{productNo}, #{quantity}, #{purchasePrice}, #{purchaseDiscountAmount})
    </insert>

    <update id="updatePurchase" parameterType="Purchase">
        UPDATE PURCHASE_TBL
        SET STATUS = #{status},
            PAYMENT_METHOD = #{paymentMethod},
            TOTAL_AMOUNT = #{totalAmount},
            TOTAL_DISCOUNT_AMOUNT = #{totalDiscountAmount},
            FINAL_AMOUNT = #{finalAmount}
        WHERE PURCHASE_NO = #{purchaseNo}
    </update>

    <update id="updateTicketCount">
        UPDATE
            MEMBER_TBL
        SET
            TICKET_COUNT = #{newTicketCount}
        WHERE
            MEMBER_ID = #{memberId}
    </update>

    <select id="getTicketCount" resultType="int">
        SELECT
            TICKET_COUNT
        FROM
            MEMBER_TBL
        WHERE
            MEMBER_ID = #{memberId}
    </select>

    <select id="selectMemberById" parameterType="string" resultType="Member">
        SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId}
    </select>
</mapper>