<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.filmfellows.cinemates.domain.reservation.model.mapper.ReservationMapper">
    <insert id="insertReservationInfo">
        INSERT INTO RESERVATION_TBL
        VALUES (#{reservationNo}, #{reservationVisitor}, #{reservationSeat}, #{reservationDate}, #{movieNo},
                #{memberId}, #{screenNo}, #{showtimeNo}, #{cinemaNo}, #{title}, #{screenName}, #{cinemaName},
                #{showtimeTime}, #{imp_uid}, #{adultReserved}, #{childReserved}, #{seniorReserved})
    </insert>

    <!-- 상영관 출력  -->
    <select id="selectCinemas" resultType="String">
        SELECT CINEMA_NAME
        FROM CINEMA_TBL
        WHERE CINEMA_ADDRESS LIKE '%' || #{cinemaAddress} || '%'
    </select>
    <!--영화 제목 출력 -->
    <select id="selectMovies" resultType="String">
        SELECT DISTINCT M.TITLE
        FROM CINEMA_TBL
                 JOIN SCREEN_TBL USING (CINEMA_NO)
                 JOIN SHOWTIME_TBL USING (SCREEN_NO)
                 JOIN MOVIE_TBL M USING (MOVIE_NO)
        WHERE CINEMA_NAME = #{cinemaName}
--           AND SCREENING_STATUS = 'NOW SHOWING'
    </select>
    <!--영화 이름과 번호 출력-->
    <select id="selectCinemaName" resultType="String">
        SELECT CINEMA_NAME, CINEMA_NO
        FROM CINEMA_TBL
                 JOIN SCREEN_TBL USING (CINEMA_NO)
                 JOIN SHOWTIME_TBL USING (SCREEN_NO)
    </select>
    <!-- 상영정보 출력 -->
    <select id="selectShowInfo" resultType="showInfoDTO">
        SELECT s.showtime_time,
               sc.screen_seat,
               sc.screen_Name,
               screen_No,
               movie_No,
               m.title,
               cinema_no,
               CINEMA_NAME,
               s.showtime_no
        FROM CINEMA_TBL
                 JOIN SCREEN_TBL sc USING (CINEMA_NO)
                 JOIN SHOWTIME_TBL s USING (SCREEN_NO)
                 JOIN MOVIE_TBL m USING (MOVIE_NO)
        where cinema_name = #{cinemaName}
          AND title = #{title}
    </select>
    <!--예약 좌석 출력-->
    <select id="selectReservationSeat" resultType="ReservationDTO">
        SELECT r.RESERVATION_SEAT, s.SCREEN_NAME, st.SHOWTIME_TIME
        FROM RESERVATION_TBL r
                 JOIN SHOWTIME_TBL st ON r.SHOWTIME_NO = st.SHOWTIME_NO
                 JOIN SCREEN_TBL s ON st.SCREEN_NO = s.SCREEN_NO
        where RESERVATION_DATE = #{reservationDate}
    </select>
    <!--사용자 정보 출력-->
    <select id="selectMemberInfo" resultType="MemberDTO">
        select *
        from member_tbl
        where MEMBER_ID = #{memberId}
    </select>
    <!--영화 포스터 출력-->
    <select id="selectMoviePoster" resultType="ShowInfoDTO">
        SELECT POSTER_URL
        FROM MOVIE_TBL
        WHERE TITLE = #{title}

    </select>
    <select id="selectReservationInfo">
        SELECT * FROM RESERVATION_TBL join PAYMENT_TBL p using (reservation_No) join movie_tbl m ON p.name = m.TITLE WHERE RESERVATION_NO=#{reservationNo}
    </select>

    <delete id="deleteReservationInfo">
        DELETE FROM RESERVATION_TBL WHERE IMP_UID = #{imp_uid}
    </delete>
</mapper>