<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link href="/css/member/find-info.css" rel="stylesheet">
<main>
    <div id="find-container">
        <div id="find-type">
            <button id="find-id-btn" class="find-category">아이디 찾기</button>
            <button id="find-pwd-btn" class="find-category">비밀번호 찾기</button>
        </div>
        <div id="find-id-form" class="find-form">
            <form id="find-member-id-form">
                <h1>아이디 찾기</h1>
                <br><br>
                <label>이름</label>
                <input type="text" class="common-input-box" id="find-id-name-input" name="name" placeholder="이름">
                <div class="failure-message hide message" id="name-failure-message"></div>
                <br>
                <label>이메일</label>
                <input type="text" class="common-input-box" id="find-id-email-input" name="email" placeholder="이메일 주소">
                <div class="failure-message hide message" id="find-id-email-failure-message"></div>
                <br>
                <div class="show-find-id hide"></div>
                <button type="button" class="common-primary-btn" id="id-result-btn" onclick="findMemberId()">아이디 찾기</button>
            </form>
                <button type="button" class="common-secondary-btn" onclick="goToLogin()">로그인 페이지로 이동</button>
        </div>
        <div id="find-pw-form" class="find-form">
            <form id="find-member-pw-form">
                <h1>비밀번호 찾기</h1>
                <br><br>
                <label>아이디</label>
                <input type="text" class="common-input-box" id="find-pw-id-input" name="memberId" placeholder="아이디">
                <div class="failure-message hide message" id="id-failure-message"></div>
                <br>
                <label>이메일</label>
                <input type="text" class="common-input-box" id="find-pw-email-input" name="email" placeholder="이메일 주소">
                <div class="failure-message hide message" id="find-pw-email-failure-message"></div>
                <br>
                <div class="show-find-pw hide"></div>
                <button type="button" class="common-primary-btn" id="pw-result-btn" onclick="findMemberPw()">비밀번호 찾기</button>
            </form>
                <button type="button" class="common-secondary-btn" onclick="goToLogin()">로그인 페이지로 이동</button>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/js/member/find-info.js"></script>
</html>