<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link href="/css/member/find-info.css" rel="stylesheet">
<main>
    <div id="find-container">
        <div id="find-type">
            <button id="find-id-btn" class="find-category"><b>아이디 찾기</b></button>
            <button id="find-pwd-btn" class="find-category"><b>비밀번호 찾기</b></button>
        </div>
        <div id="find-id-form" class="find-form">
            <h1>아이디 찾기</h1>
            <br><br>
                <label>이름</label>
                <input type="text" class="common-input-box" name="userName" placeholder="이름">
            <br>
                <label>이메일</label>
                <input type="text" class="common-input-box" name="userName" placeholder="이메일 주소">
            <br>
            <button type="button" class="common-primary-btn">아이디 찾기</button>
            <button class="common-secondary-btn" onclick="goToLogin()">로그인 페이지로 이동</button>
        </div>
        <div id="find-pw-form" class="find-form">
            <h1>비밀번호 찾기</h1>
            <br><br>
            <div class="input-group">
                <label>이름</label>
                <input type="text" class="common-input-box" name="userName" placeholder="이름">
            </div>
            <br>
            <div class="input-group">
                <label>이메일</label>
                <input type="text" class="common-input-box" name="userName" placeholder="이메일 주소">
            </div>
            <br>
            <button type="button" class="common-primary-btn">비밀번호 찾기</button>
            <button class="common-secondary-btn" onclick="goToLogin()">로그인 페이지로 이동</button>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/member/find-info.js"></script>
</html>