<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link href="/css/member/register.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
<main>
    <div id="signup-container">
        <div id="signup-form">
            <h1>회원가입</h1>
            <br><br>
            <form action="/register" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <label>아이디<span class="asterisk"> *</span></label>
                    <input type="text" class="common-input-box" id="memberId" name="memberId" placeholder="아이디">
                </div>

                <div class="input-group pwd-group">
                    <label>비밀번호<span class="asterisk"> *</span></label>
                    <input type="password" class="common-input-box" id="memberPw" name="memberPw" placeholder="영문, 숫자, 특수문자 2가지 이상 포함한 8자~16자">
                    <i class="fi fi-rs-eye toggle-password pwIcon"></i>
                </div>

                <div class="input-group pwd-group">
                    <label>비밀번호 확인<span class="asterisk"> *</span></label>
                    <input type="password" class="common-input-box" id="checkPassword" name="checkPassword" placeholder="비밀번호 확인">
                    <i class="fi fi-rs-eye toggle-password cpwIcon"></i>
                </div>

                <div class="input-group">
                    <label>이름<span class="asterisk"> *</span></label>
                    <input type="text" class="common-input-box" name="name" placeholder="이름">
                </div>

                <div class="input-group">
                    <label>생년월일<span class="asterisk"> *</span></label>
                    <input type="text" class="common-input-box" id="birthDate" name="birthDate" placeholder="생년월일 8자리">
                </div>

                <div class="input-group email-group">
                    <label>이메일<span class="asterisk"> *</span></label>
                    <div class="input-container">
                        <input type="text" class="common-input-box" id="email" name="email" placeholder="이메일 주소">
                        <button type="button" class="common-secondary-btn email-btn" id="email-btn">인증요청</button>
                    </div>
                </div>

                <div class="input-group auth-group">
                    <label>인증번호 입력<span class="asterisk"> *</span></label>
                    <div class="input-container">
                        <input type="text" class="common-input-box" id="auth-code"  name="authCode" placeholder="인증번호 6자리">
                        <button type="button" class="common-secondary-btn auth-btn" id="auth-btn">인증</button>
                    </div>
                </div>

                <div class="input-group">
                    <label>전화번호<span class="asterisk"> *</span></label>
                    <input type="text" class="common-input-box" id="phone" name="phone" placeholder="(-)빼고 입력">
                </div>

                <div class="input-group file-group">
                    <label>프로필 사진</label>
                    <label for="profileImg" id="select-file-btn">파일 선택</label>
                    <input type="file" id="profileImg" name="profileImg" accept="image/*">
                </div>
                <div id="thumbnail-container">
                    <img id="profile-thumbnail" alt="사진 미리보기" style="display: none;">
                </div><br><br>
                <button class="common-primary-btn">가입 완료</button>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/member/register.js"></script>
</html>