<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link href="/css/member/register.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
<main>
    <div id="signup-container">
        <div id="signup-form">
            <h1>회원가입</h1>
            <br><br>
            <form id="register-member-form" enctype="multipart/form-data">
                <div class="input-group">
                    <label>아이디<span class="asterisk"> *</span></label>
                    <input type="text" class="common-input-box" id="id-input" name="memberId" placeholder="영문, 숫자를 조합한 4 ~ 20자" maxlength="20">
                </div>
                <div class="success-message hide message" id="id-success-message"></div>
                <div class="failure-message hide message" id="id-failure-message"></div>

                <div class="input-group pwd-group">
                    <label>비밀번호<span class="asterisk"> *</span></label>
                    <input type="password" class="common-input-box" id="pw-input" name="memberPw" placeholder="대문자, 숫자, 특수문자를 조합한 영문 8자~16자" maxlength="16">
                    <i class="fi fi-rs-eye toggle-password pwIcon"></i>
                </div>
                <div class="success-message hide message" id="pw-success-message"></div>
                <div class="failure-message hide message" id="pw-failure-message"></div>

                <div class="input-group pwd-group">
                    <label>비밀번호 확인<span class="asterisk"> *</span></label>
                    <input type="password" class="common-input-box" id="pw-check-input" name="checkPassword" placeholder="비밀번호 확인">
                    <i class="fi fi-rs-eye toggle-password cpwIcon"></i>
                </div>
                <div class="success-message hide message" id="pw-check-success-message"></div>
                <div class="failure-message hide message" id="pw-check-failure-message"></div>

                <div class="input-group">
                    <label>이름<span class="asterisk"> *</span></label>
                    <input type="text" class="common-input-box" id="name-input" name="name" placeholder="이름">
                </div>
                <div class="success-message hide message" id="name-success-message"></div>
                <div class="failure-message hide message" id="name-failure-message"></div>

                <div class="input-group">
                    <label>생년월일<span class="asterisk"> *</span></label>
                    <input type="text" class="common-input-box" id="birth-date-input" name="birthDate" placeholder="생년월일 8자리">
                </div>
                <div class="success-message hide message" id="birth-date-success-message"></div>
                <div class="failure-message hide message" id="birth-date-failure-message"></div>

                <div class="input-group email-group">
                    <label>이메일<span class="asterisk"> *</span></label>
                    <div class="input-container">
                        <input type="text" class="common-input-box" id="email-input" name="email" placeholder="이메일 주소">
                        <button type="button" class="common-secondary-btn email-btn" id="email-btn">인증요청</button>
                    </div>
                </div>
                <div class="success-message hide message" id="email-success-message"></div>
                <div class="failure-message hide message" id="email-failure-message"></div>

                <div class="input-group auth-group">
                    <label>인증번호 입력<span class="asterisk"> *</span></label>
                    <div class="input-container">
                        <input type="text" class="common-input-box" id="auth-code-input"  name="authCode" placeholder="인증번호 6자리">
                        <button type="button" class="common-secondary-btn auth-btn" id="auth-btn">인증</button>
                    </div>
                </div>
                <div class="success-message hide message" id="auth-code-success-message"></div>
                <div class="failure-message hide message" id="auth-code-failure-message"></div>

                <div class="input-group">
                    <label>핸드폰 번호<span class="asterisk"> *</span></label>
                    <input type="text" class="common-input-box" id="phone-input" name="phone" placeholder="(-)빼고 입력">
                </div>
                <div class="success-message hide message" id="phone-success-message"></div>
                <div class="failure-message hide message" id="phone-failure-message"></div>

                <div class="input-group file-group">
                    <label>프로필 사진</label>
                    <label for="profileImg" id="select-file-btn">파일 선택</label>
                    <input type="file" id="profileImg" name="profileImg" accept="image/*">
                </div>
                <div id="thumbnail-container">
                    <img id="profile-thumbnail" alt="사진 미리보기" style="display: none;">
                </div><br><br>
                <button type="button" class="common-primary-btn" onclick="registerMember()">가입 완료</button>
            </form>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/js/member/register.js"></script>
</html>