<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link href="/css/member/resetPassword.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
<main>
    <div id="reset-pw-container">
        <div id="reset-pw-form">
            <h1>비밀번호 재설정</h1>
            <p>새로운 비밀번호를 입력해주세요.</p>
            <br><br>
            <form id="reset-member-pw-form">
                <input type="hidden" name="token" th:value="${token}">
                <div class="input-group pwd-group">
                    <label for="pw-input">새 비밀번호</label>
                    <input type="password" name="memberPw" class="common-input-box" id="pw-input" placeholder="비밀번호를 입력해주세요">
                    <i class="fi fi-rs-eye toggle-password pwIcon"></i>
                </div>
                <div class="success-message hide message" id="pw-success-message"></div>
                <div class="failure-message hide message" id="pw-failure-message"></div>
                <br>
                <div class="input-group pwd-group">
                    <label for="pw-check-input">비밀번호 재입력</label>
                    <input type="password" name="checkPassword" class="common-input-box" id="pw-check-input" placeholder="비밀번호 확인">
                    <i class="fi fi-rs-eye toggle-password cpwIcon"></i>
                </div>
                <div class="success-message hide message" id="pw-check-success-message"></div>
                <div class="failure-message hide message" id="pw-check-failure-message"></div>
                <br>
                <button type="button" class="common-primary-btn" onclick="resetPassword()">재설정</button>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/member/resetPassword.js"></script>
</html>