<!DOCTYPE html>
<html lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/defaultLayout}"
	  layout:fragment="Content">
<link rel="stylesheet" href="/css/cinema/cinemamain.css">
	<head>
	<meta charset="UTF-8">
	<title>극장</title>

	</head>
	<body>
		<hr>
		<ul>
			<li><a th:href="@{/cinema/location?locationcode=1(cinemaNo=${cinema.cinemaNo})}">서울</a></li>
			<li><a th:href="@{/cinema/location?locationcode=2(cinemaNo=${cinema.cinemaNo})}">인천</a></li>
			<li><a th:href="@{/cinema/location?locationcode=3(cinemaNo=${cinema.cinemaNo})}">경기</a></li>
			<li><a th:href="@{/cinema/location?locationcode=4(cinemaNo=${cinema.cinemaNo})}">대전/충천</a></li>
			<li><a th:href="@{/cinema/location?locationcode=5(cinemaNo=${cinema.cinemaNo})}">부산/울산</a></li>
			<li><a th:href="@{/cinema/location?locationcode=6(cinemaNo=${cinema.cinemaNo})}">대구/경상</a></li>
			<li><a th:href="@{/cinema/location?locationcode=7(cinemaNo=${cinema.cinemaNo})}">강원</a></li>
			<li><a th:href="@{/cinema/location?locationcode=8(cinemaNo=${cinema.cinemaNo})}">광주/전라/제주</a></li>
		</ul>
		<hr>
		<button th:if="${memberId == 'admin1'}" onclick="admin()">극장관리</button>
		<button th:if="${memberId == 'admin1'}" th:onclick="adminshowtime([[${cinema.cinemaNo}]])">상영관리</button>
		<br>

		<div  id="divmain" >
		<br>
			<div th:each="cinema:${cList}"><a style="background: none; color: #E12C25; padding: 0; margin: 10px; border: none; text-decoration: underline; cursor: pointer;" th:href="@{/cinema/location(locationcode=${cinema.cinemaLocationCode},cinemaNo=${cinema.cinemaNo})}">[[${cinema.cinemaName}]]</a></div>
		</div>
		<h1>극   장</h1><br><br>
		<h1>[[${cinema.cinemaName}]]</h1><br>
			
		<div id="searchmap"></div><div><button th:onclick="parking([[${cinema.cinemaNo}]],[[${cinema.cinemaAddress}]])">위치/길찾기</button></div><br>
		<div id="cinemamain">
		<br><br><br><br><br><br><br><br><br><br><br>
			<div >[[${cinema.cinemaAddress}]]</div><br>
			<div >[[${cinema.cinemaCall}]]</div><br>
			<div >[[${cinema.cinemaScreens}]]관/[[${cinema.cinemaSeat}]]석</div>
		</div>
		<h1>상영정보</h1><br>
		<h2>상영일자</h2><br>
		<a  style="background-color: gray; display:inline-block;border-radius: 5px;" th:href="@{/cinema/location(locationcode=${cinema.cinemaLocationCode},cinemaNo=${cinema.cinemaNo},selectDate=${currentdate})}">
			<div style="height: 50px;margin: 10px;"><span style="font-size: 10px;">[[${#temporals.dayOfWeekName(currentdate)}]]</span><br><strong style="font-size: 30px;">[[${#temporals.day(currentdate)}]]</strong></div>
		</a>
		<a  style="background-color: gray; display:inline-block;border-radius: 5px;" th:href="@{/cinema/location(locationcode=${cinema.cinemaLocationCode},cinemaNo=${cinema.cinemaNo},selectDate=${day1})}">
			<div style="height: 50px;margin: 10px;"><span style="font-size: 10px;">[[${#temporals.dayOfWeekName(day1)}]]</span><br><strong style="font-size: 30px;">[[${#temporals.day(day1)}]]</strong></div>
		</a>
		<a  style="background-color: gray; display:inline-block;border-radius: 5px;" th:href="@{/cinema/location(locationcode=${cinema.cinemaLocationCode},cinemaNo=${cinema.cinemaNo},selectDate=${day2})}">
			<div style="height: 50px;margin: 10px;"><span style="font-size: 10px;">[[${#temporals.dayOfWeekName(day2)}]]</span><br><strong style="font-size: 30px;">[[${#temporals.day(day2)}]]</strong></div>
		</a>
		<a  style="background-color: gray; display:inline-block;border-radius: 5px;" th:href="@{/cinema/location(locationcode=${cinema.cinemaLocationCode},cinemaNo=${cinema.cinemaNo},selectDate=${day3})}">
			<div style="height: 50px;margin: 10px;"><span style="font-size: 10px;">[[${#temporals.dayOfWeekName(day3)}]]</span><br><strong style="font-size: 30px;">[[${#temporals.day(day3)}]]</strong></div>
		</a>
		<a  style="background-color: gray; display:inline-block;border-radius: 5px;" th:href="@{/cinema/location(locationcode=${cinema.cinemaLocationCode},cinemaNo=${cinema.cinemaNo},selectDate=${day4})}">
			<div style="height: 50px;margin: 10px;"><span style="font-size: 10px;">[[${#temporals.dayOfWeekName(day4)}]]</span><br><strong style="font-size: 30px;">[[${#temporals.day(day4)}]]</strong></div>
		</a>
		<a  style="background-color: gray; display:inline-block;border-radius: 5px;" th:href="@{/cinema/location(locationcode=${cinema.cinemaLocationCode},cinemaNo=${cinema.cinemaNo},selectDate=${day5})}">
			<div style="height: 50px;margin: 10px;"><span style="font-size: 10px;">[[${#temporals.dayOfWeekName(day5)}]]</span><br><strong style="font-size: 30px;">[[${#temporals.day(day5)}]]</strong></div>
		</a>
		<a  style="background-color: gray; display:inline-block;border-radius: 5px;" th:href="@{/cinema/location(locationcode=${cinema.cinemaLocationCode},cinemaNo=${cinema.cinemaNo},selectDate=${day6})}">
		<div style="height: 50px;margin: 10px;"><span style="font-size: 10px;">[[${#temporals.dayOfWeekName(day6)}]]</span><br><strong style="font-size: 30px;">[[${#temporals.day(day6)}]]</strong></div>
		</a>

		<br><br><br>
		<h1>[[${selectDate}]]</h1>
		<div style="width:80%;text-align:left;">
		<th th:each="showtime, stat : ${sList}" >
			<hr th:if="(${stat.index == 0} or ${sList[stat.index - 1].screenName != showtime.screenName}) or (${stat.index == 0} or${sList[stat.index - 1].movieNo != showtime.movieNo})" style="width:100%;">
			<div th:if="(${stat.index == 0} or ${sList[stat.index - 1].screenName != showtime.screenName}) or (${stat.index == 0} or ${sList[stat.index - 1].movieNo != showtime.movieNo})"
				 th:classappend="${showtime.rating == 'ALL' ? 'green-background':''} + ${showtime.rating == '15' ? 'orange-background':''}+${showtime.rating == '19' ? 'red-background':''}+${showtime.rating == '12' ? 'yel-background':''}"
				 style="font-size: 20px;">
				[[${showtime.rating}]]
			</div>

			<div th:if="(${stat.index == 0} or ${sList[stat.index - 1].screenName != showtime.screenName}) or (${stat.index == 0} or ${sList[stat.index - 1].movieNo != showtime.movieNo})"
				 style="width:90%;">
				<span style="font-size: 20px;">[[${showtime.title}]]</span> <!-- 제목 크기를 크게 설정 -->
				<span style="color: gray;">[[${showtime.runningTime}]]분 [[${showtime.genre}]]</span> <!-- 시간과 장르의 글자 색상을 회색으로 설정 -->
			</div>
			<div th:if="(${stat.index == 0} or ${sList[stat.index - 1].screenName != showtime.screenName}) or (${stat.index == 0} or${sList[stat.index - 1].movieNo != showtime.movieNo})" style="width:100%;font-size: 15px;">[[${showtime.screenName}]]/총[[${showtime.screenSeat}]]석</div>


		<div th:if="${stat.index == 0} or ${sList[0].screenName==showtime.screenName} or${sList[stat.index - 1].screenName == showtime.screenName}"  style="width:100px;height:100px;float:left;" >
			<form th:action="@{/Ticketing/PersonSeat}" method="post">
				<input type="hidden" name="movieNo" th:value="${showtime.movieNo}" />
				<input type="hidden" name="showtimeNo" th:value="${showtime.showtimeNo}" />
				<input type="hidden" name="showtimeTime" th:value="${showtime.showtimeTime}" />
				<input type="hidden" name="cinemaName" th:value="${showtime.cinemaName}" />
				<input type="hidden" name="cinemaNo" th:value="${showtime.cinemaNo}" />
				<input type="hidden" name="screenNo" th:value="${showtime.screenNo}" />
				<input type="hidden" name="reservationDate" th:value="${selectDate}" />
				<input type="hidden" name="screenName" th:value="${showtime.screenName}" />
				<input type="hidden" name="title" th:value="${showtime.title}" />
				<input type="hidden" name="reservationSeat" th:value="${showtime.showtimeSeat.toString()}" />
				<button type="submit" style="display:block; height:65px;color: white;
				text-decoration: none;font-size: 18px;padding: 10px 20px;background-color: #444;border-radius: 5px;
				transition: background-color 0.3s;text-align: center;margin-right: 5px">
					<div>
						[[${showtime.showtimeTime}]] <br> [[${showtime.availableSeats}]]석
					</div><br>
				</button>
			</form>

		</div>
		<div th:unless="${stat.index == 0} or ${sList[0].screenName==showtime.screenName} or${sList[stat.index - 1].screenName == showtime.screenName}"  style="width:100px;height:100px; float:left;display:block" >
			<form th:action="@{/Ticketing/PersonSeat}" method="post">
				<input type="hidden" name="movieNo" th:value="${showtime.movieNo}" />
				<input type="hidden" name="showtimeNo" th:value="${showtime.showtimeNo}" />
				<input type="hidden" name="showtimeTime" th:value="${showtime.showtimeTime}" />
				<input type="hidden" name="cinemaName" th:value="${showtime.cinemaName}" />
				<input type="hidden" name="cinemaNo" th:value="${showtime.cinemaNo}" />
				<input type="hidden" name="screenNo" th:value="${showtime.screenNo}" />
				<input type="hidden" name="reservationDate" th:value="${selectDate}" />
				<input type="hidden" name="screenName" th:value="${showtime.screenName}" />
				<input type="hidden" name="title" th:value="${showtime.title}" />
				<input type="hidden" name="reservationSeat" th:value="${showtime.showtimeSeat.toString()}" />
				<button type="submit" style="display:block; height:65px;color: white;
				text-decoration: none;font-size: 18px;padding: 10px 20px;background-color: #444;border-radius: 5px;
				transition: background-color 0.3s;text-align: center;margin-right: 5px">					<div>
						[[${showtime.showtimeTime}]] <br> [[${showtime.availableSeats}]]석
					</div><br>
				</button>
			</form>
		</div>

		</th>
		</div>
		<br>
		<div id="footer"></div>
		<script type="text/javascript">

			function parking(a,b){
	    		var popupW = 600;
	    		var popupH = 750;
	    		var left = Math.ceil((window.screen.width - popupW)/2);
	    		var top = Math.ceil((window.screen.height - popupH)/2);
	    		myWindow=window.open("/cinema/parking/"+a+"&"+b,"pop","width=600,height=750,left="+left+",top="+top+"");

			}
			function admin(){
				location.href="/admin/cinema"
			}
			function adminshowtime(a){
				location.href="/admin/admineshowtime"+a;
			}
		</script>
	</body>
</html>