<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script
        crossorigin="anonymous"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Test</title>

</head>
<body>
<form action="/Ticketing/PersonSeat" method="POST">
    <div>
        <ul id="Korea-region-list">
            <li>
                <a href="#none" data-cinema-address="서울">서울</a>
            </li>
            <li>
                <a href="#none" data-cinema-address="경기/인천">경기/인천</a>
            </li>
            <li>
                <a href="#none" data-cinema-address="충청/대전">충청/대전</a>
            </li>
            <li>
                <a href="#none" data-cinema-address="전라/광주">전라/광주</a>
            </li>
            <li>
                <a href="#none" data-cinema-address="경북/대구">경북/대구</a>
            </li>
            <li>
                <a href="#none" data-cinema-address="경남/부산/울산">경남/부산/울산</a>
            </li>
            <li>
                <a href="#none" data-cinema-address="강원">강원</a>
            </li>
            <li>
                <a href="#none" data-cinema-address="제주">제주</a>
            </li>
        </ul>
        <ul id="cinema-List"></ul>
        <ul id="movie-List"></ul>
    </div>

    <button>이동</button>
</form>

<script>
    $(document).ready(function() {
        $('#Korea-region-list').on('click', 'a', function(e) {
            e.preventDefault();
            var cinemaAddresses = $(this).data('cinema-address');

            $.ajax({
                url: '/getCinemas',  // 서버의 엔드포인트 URL
                method: 'GET',
                data: { cinemaAddress: cinemaAddresses },
                success: function(response) {
                    var cinemaList = $('#cinema-List');
                    cinemaList.empty();  // 기존 목록을 비웁니다
                    
                    $.each(response, function(index, cinema) {
                        cinemaList.append('<li>'+'<a>'+cinema+'</a>'+'</li>');
                    });
                    console.log("잘 전달 됨");
                },
                error: function(xhr, status, error) {
                    console.error("AJAX 요청 실패: ", error);
                }
            });
        });
    });
</script>
</body>
</html>