<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="/css/reservation/showTime.css" rel="stylesheet">
    <title>채팅방</title>
    <!-- inline CSS 영역-->
    <style th:inline="css" type="text/css">

    </style>
    <!-- inline JS 영역-->
    <script
            crossorigin="anonymous"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script crossorigin="anonymous" defer src="/js/reservation/showTime.js"></script>
    <script th:inline="javascript" type="text/javascript">
        let movieNo = /*[[${movieList.movieNo}*/{};
        let title = /*[[${movieList.title}*/{};
    </script>
</head>
<body>
<div class="cinema-Container">
    <form action="/Ticketing/PersonSeat" method="POST">
        <div class="hidden">
            <div class="movieDiv">
                <div class="group-top">
                    <h4>영화 선택</h4>
                </div>
                <div class="movieDiv_movie">
                    <ul id="movie-List">
                        <li th:class="${movie.title == selectedMovieTitle} ? 'selected' : ''"
                            th:each="movie: ${movieList}">
                            <a href="#none" th:data-title="${movie.title}" th:text="${movie.title}"></a>
                            <input th:value="${movie.movieNo}" type="hidden">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="regionDiv">
                <div class="group-top">
                    <h4>영화관</h4>
                </div>
                <div class="hidden-region">
                    <div class="regionDiv_region">
                        <ul id="region-list">
                            <li>
                                <a href="#none"
                                   th:data-location-code="${lList.locationCode}"
                                   th:text="${location.locationCode == 1} ? '서울' :
                       (${location.locationCode == 2} ? '인천' :
                       (${location.locationCode == 3} ? '경기' :
                       (${location.locationCode == 4} ? '충청/대전/세종충청/대전/세종' :
                       (${location.locationCode == 5} ? '부산/울산' :
                       (${location.locationCode == 6} ? '경북/대구' :
                       (${location.locationCode == 7} ? '강원' :
                       (${location.locationCode == 8} ? '전라/광주/제주': '기타')))))))">
                                </a>
                            </li>
<!--                            <li>-->
<!--                                <a data-cinema-address="인천" href="#none">인천</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a data-cinema-address="경기" href="#none">경기</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a data-cinema-address="충청/대전/세종" href="#none">충청/대전/세종</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a data-cinema-address="전라/광주/전북/제주" href="#none">전라/광주/제주</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a data-cinema-address="경상북도/대구" href="#none">경북/대구</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a data-cinema-address="부산/울산" href="#none">부산/울산</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a data-cinema-address="강원" href="#none">강원</a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                    <div class="cinemaDiv_cinema">
                        <ul id="cinema-List"></ul>
                    </div>
                </div>
            </div>
            <div class="showtimeDiv">
                <div class="group-top">
                    <h4>상영 시간</h4>
                </div>
                <div class="calendar">
                    <div class="month-display" id="month-display"></div>
                    <div class="week-container">
                        <div class="arrow" id="prevWeek">&lt;</div>
                        <div class="days-container" id="calendar-days"></div>
                        <div class="arrow" id="nextWeek">&gt;</div>
                    </div>
                </div>
                <div id="showtimes-container">
                    <ul id="showtimes-List"></ul>
                </div>
            </div>

        </div>
        <div style="display: flex; width: 100%; margin:0 auto; justify-content: end;">
            <button id="goPersonSeat">이동</button>
        </div>
        <input id="cinemaName" name="cinemaName" type="hidden" value="">
        <input id="showtimeTime" name="showtimeTime" type="hidden" value="">
        <input id="title" name="title" type="hidden" value="">
        <input id="screenName" name="screenName" type="hidden" value="">
        <input id="selectedDate" name="reservationDate" type="hidden" value="">
        <input name="screenNo" type="hidden" value="">
        <input name="movieNo" type="hidden" value="">
        <input name="cinemaNo" type="hidden" value="">
        <input name="showtimeNo" type="hidden" value="">
        <input name="reservationSeat" type="hidden" value="">
    </form>
</div>
</body>
</html>