<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="/css/reservation/showTime.css" rel="stylesheet">
    <title>채팅방</title>
    <!-- inline CSS 영역-->
    <style th:inline="css" type="text/css">

    </style>
    <!-- inline JS 영역-->
    <script
            crossorigin="anonymous"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script crossorigin="anonymous" defer src="/js/reservation/showTime.js"></script>
    <script th:inline="javascript" type="text/javascript">
        let movieNo = /*[[${movieList.movieNo}*/{};
        let title = /*[[${movieList.title}*/{};
        var ageRatings =/*[[${ageRatings}]]*/{};
    </script>
</head>
<body>
<div class="cinema-Container">
    <form action="/Ticketing/PersonSeat" method="POST">
        <div class="hidden">
            <div class="movieDiv">
                <div class="group-top">
                    <h4>영화 선택</h4>
                </div>
                <div class="movieDiv_movie">
                    <ul id="movie-List">
                        <li th:class="${movie.movieNo == selectedMovieNo} ? 'selected' : ''"
                            th:each="movie: ${movieList}">
                            <a href="#none"
                               th:data-movie-no="${movie.movieNo}"
                               th:data-title="${movie.title}">

                                <div class="movie-item">
                                    <div class="movie-img"><img alt="" th:src="${movie.posterUrl}"></div>
                                    <div class="movie-info">
                                        <div class="movie-sub-info">
                                            <div class="movie-age"></div>
                                            <span id="movie-title">[[${movie.title}]]</span>
                                        </div>
                                        <div class="movie-sub-info1">
                                            <span class="movie-running-time">[[${movie.runningTime}]]분</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="regionDiv">
                <div class="group-top">
                    <h4>영화관</h4>
                </div>
                <div class="hidden-region">
                    <div class="regionDiv_region">
                        <ul id="region-list">
                            <li th:each="location : ${lList}">
                                <th:block
                                        th:with="regionName=${T(com.filmfellows.cinemates.domain.reservation.model.vo.LocationUtil).getRegionName(location.cinemaLocationCode)}">
                                    <a href="#none"
                                       th:data-cinema-address="${regionName}"
                                       th:data-location-code="${location.cinemaLocationCode}"
                                       th:value="${location.cinemaLocationCode}">
                                        <span th:text="${regionName}"></span>
                                    </a>
                                </th:block>
                            </li>
                        </ul>
                    </div>
                    <div class="cinemaDiv_cinema">
                        <ul id="cinema-List"></ul>
                    </div>
                </div>
            </div>
            <div class="showtimeDiv">
                <div class="group-top">
                    <h4>상영 시간</h4>
                </div>
                <div class="calendar">
                    <div class="month-display" id="month-display"></div>
                    <div class="week-container">
                        <div class="arrow" id="prevWeek">&lt;</div>
                        <div class="days-container" id="calendar-days"></div>
                        <div class="arrow" id="nextWeek">&gt;</div>
                    </div>
                </div>
                <div id="showtimes-container">
                    <ul id="showtimes-List"></ul>
                </div>
            </div>

        </div>
        <div style="display: flex; width: 100%; margin:0 auto; justify-content: end;">
            <button id="goPersonSeat">인원/좌석선택</button>
        </div>
        <input id="cinemaName" name="cinemaName" type="hidden" value="">
        <input id="showtimeTime" name="showtimeTime" type="hidden" value="">
        <input id="title" name="title" type="hidden" value="">
        <input id="screenName" name="screenName" type="hidden" value="">
        <input id="selectedDate" name="reservationDate" type="hidden" value="">
        <input name="screenNo" type="hidden" value="">
        <input name="movieNo" type="hidden" value="">
        <input name="cinemaNo" type="hidden" value="">
        <input name="showtimeNo" type="hidden" value="">
        <input name="reservationSeat" type="hidden" value="">
        <input id="selectedMovieNo" th:value="${selectedMovieNo}" type="hidden">
        <input id="selectedMovieTitle" th:value="${selectedMovieTitle}" type="hidden">
    </form>
</div>
</body>
</html>