<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="/css/reservation/showTime.css" rel="stylesheet">
    <title>채팅방</title>
    <!-- inline CSS 영역-->
    <style th:inline="css" type="text/css">

    </style>
    <!-- inline JS 영역-->
    <script
            crossorigin="anonymous"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script crossorigin="anonymous" defer src="/js/reservation/showTime.js"></script>
    <script th:inline="javascript" type="text/javascript">

    </script>
</head>

<body>
    <div class="cinema-Container">
        <form action="/Ticketing/PersonSeat" method="POST">
            <ul id="region-list">
                <li>
                    <a data-cinema-address="서울" href="#none">서울</a>
                </li>
                <li>
                    <a data-cinema-address="경기/인천" href="#none">경기/인천</a>
                </li>
                <li>
                    <a data-cinema-address="충청/대전" href="#none">충청/대전</a>
                </li>
                <li>
                    <a data-cinema-address="전라/광주" href="#none">전라/광주</a>
                </li>
                <li>
                    <a data-cinema-address="경북/대구" href="#none">경북/대구</a>
                </li>
                <li>
                    <a data-cinema-address="경남/부산/울산" href="#none">경남/부산/울산</a>
                </li>
                <li>
                    <a data-cinema-address="강원" href="#none">강원</a>
                </li>
                <li>
                    <a data-cinema-address="제주" href="#none">제주</a>
                </li>
            </ul>
            <ul id="cinema-List"></ul>
            <div class="Movie-container">
                <ul id="movie-List"></ul>
            </div>
            <div class="calendar">
                <div class="month-display" id="month-display"></div>
                <div class="week-container">
                    <div class="arrow" id="prevWeek">&lt;</div>
                    <div class="days-container" id="calendar-days"></div>
                    <div class="arrow" id="nextWeek">&gt;</div>
                </div>
            </div>
            <div id="showtimes-container">
                <ul id="showtimes-List"></ul>
            </div>

            <button>이동</button>
            <input id="cinemaName" name="cinemaName" type="hidden" value="">
            <input id="showtimeTime" name="showtimeTime" type="hidden" value="">
            <input id="title" name="title" type="hidden" value="">
            <input id="screenName" name="screenName" type="hidden" value="">
            <input id="selectedDate" name="reservationDate" type="hidden" value="">
            <input name="screenNo" type="hidden" value="">
            <input name="movieNo" type="hidden" value="">
            <input name="cinemaNo" type="hidden" value="">
            <input name="showtimeNo" type="hidden" value="">
            <input name="reservationSeat" type="hidden" value="">
            <!--    <input type="hidden" name="posterUrl" value="">-->
        </form>
    </div>
</body>
</html>