<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}"
      layout:fragment="Content"
      th:if="${memberId == admin1}">
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}"
      layout:fragment="Content"
      th:unless="${memberId == admin1}">
<link rel="stylesheet" href="/css/productadmin/productadmin.css">

<head>
  <meta charset="UTF-8">
  <title>상품 관리페이지</title>

</head>
<body>

<h1>영화관 상품 관리</h1>

<button onclick="insertadmin()">상품 추가</button>

<table>
  <tr>
    <th>상품번호</th>
    <th>상품이미지</th>
    <th>카테고리명</th>
    <th>상품이름</th>
    <th>금액</th>
    <th>할인금액</th>
    <th>할인적용금액</th>
    <th>이미지URL</th>
    <th>상품설명</th>
  </tr>
  <tr th:each="product : ${pList}">
    <td>[[${product.productNo}]]</td>
    <td>
      <img th:src="@{${product.imageUrl}}" alt="상품 이미지" style="width:100px; height:auto;">
    </td>
    <td>[[${product.categoryName}]]</td>
    <td><a href="" th:onclick="updateproduct([[${product.productNo}]])">[[${product.productName}]]</a></td>
    <td>[[${product.price}]]</td>
    <td>[[${product.discountAmount}]]</td>
    <td>[[${product.discountedPrice}]]</td>
    <td>[[${product.imageUrl}]]</td>
    <td>[[${product.description}]]</td>
  </tr>
</table>
<br><br>
<script>
  function updateproduct(a){
    var popupW = 600;
    var popupH = 800;
    var left = Math.ceil((window.screen.width - popupW) / 2);
    var top = Math.ceil((window.screen.height - popupH) / 2);
    writeWindow = window.open("/admin/product/adminupdate" + a, "pop", "width=600,height=800,left=" + left + ",top=" + top + "");
  }

  function insertadmin(){
    var popupW = 600;
    var popupH = 800;
    var left = Math.ceil((window.screen.width - popupW) / 2);
    var top = Math.ceil((window.screen.height - popupH) / 2);
    writeWindow = window.open("/admin/product/admininsert", "pop", "width=600,height=800,left=" + left + ",top=" + top + "");
  }
</script>

</body>
</html>