<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/cinema/update.css">

<head>
    <meta charset="UTF-8">
    <title>상품수정/삭제</title>

    </style>
</head>
<body>
<h1>상품 수정/삭제</h1>
<form action="/admin/product/adminupdate" method="post">

    <div>
        <label for="categoryName">카테고리명</label>
        <select name="categoryName" id="categoryName">
            <option value="기프트카드" th:selected="${product.categoryName == '기프트카드'}">기프트카드</option>
            <option value="영화관람권" th:selected="${product.categoryName == '영화관람권'}">영화관람권</option>
            <option value="콤보" th:selected="${product.categoryName == '콤보'}">콤보</option>
            <option value="팝콘" th:selected="${product.categoryName == '팝콘'}">팝콘</option>
            <option value="스낵" th:selected="${product.categoryName == '스낵'}">스낵</option>
            <option value="음료" th:selected="${product.categoryName == '음료'}">음료</option>
        </select>
    </div>
    <div>
        <label for="productName">상품이름</label>
        <input type="text" name="productName" id="productName" th:value="${product.productName}">
    </div>
    <div>
        <label for="price">가격</label>
        <input type="number" name="price" id="price" th:value="${product.price}" oninput="calculateDiscountedPrice()">
    </div>
    <div>
        <label for="discountAmount">할인금액</label>
        <input type="number" name="discountAmount" id="discountAmount" th:value="${product.discountAmount}" oninput="calculateDiscountedPrice()">
    </div>
    <div>
        <label for="discountedPrice">할인적용금액</label>
        <input type="number" name="discountedPrice" id="discountedPrice" th:value="${product.discountedPrice}" readonly>
    </div>
    <div>
        <label for="imageUrl">이미지url</label>
        <input type="text" name="imageUrl" id="imageUrl" th:value="${product.imageUrl}">
    </div>
    <div>
        <label for="description">상품설명</label>
        <input type="text" name="description" id="description" th:value="${product.description}">
    </div>
    <input type="hidden" name="productNo" id="productNo" th:value="${product.productNo}">
    <div style="text-align: center;">
    <button type="submit">수정</button>
    <button type="button" th:onclick="deletecinema([[${product.productNo}]])">삭제</button>
    </div>
</form>

<script>
    function calculateDiscountedPrice() {
        // 가격과 할인금액 가져오기
        var price = document.getElementById('price').value;
        var discountAmount = document.getElementById('discountAmount').value;

        // 숫자형으로 변환하고 계산
        var discountedPrice = parseFloat(price) - parseFloat(discountAmount);

        // 계산 결과를 할인적용금액 필드에 입력
        if (!isNaN(discountedPrice) && discountedPrice >= 0) {
            document.getElementById('discountedPrice').value = discountedPrice;
        } else {
            document.getElementById('discountedPrice').value = 0;
        }
    }

    function deletecinema(a){
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href="/admin/product/admindelete" + a;
        }
    }
</script>
</body>
</html>