/* 기본 스타일 */
body {
    font-family: 'NEXON Lv1 Gothic OTF';
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333;
    margin: 0;
}

main.category-main {
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 320px);
    padding-bottom: 20px;
}

/* 카테고리 제목 및 서브타이틀 */
.category-title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

/* 네비게이션 스타일 */
store-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

store-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
    font-family: 'GmarketSansMedium', serif;
}

store-nav a:hover {
    color: #e5101d; /* CGV의 빨간색 강조 */
}

/* 상품 그리드 스타일 */
.category-product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* 상품 아이템 스타일 */
.category-product-item {
    flex: 0 0 calc(33.333% - 30px); /* 3개씩 한 줄에 배치되도록 설정 */
    max-width: calc(33.333% - 30px); /* 3개씩 한 줄에 배치되도록 설정 */
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box; /* 패딩이 포함되도록 박스 크기 설정 */
}

.category-product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.category-product-image-container {
    position: relative; /* 아이콘의 기준이 되는 컨테이너 */
    width: 100%;
    height: auto;
}

/* 상품 아이콘 (장바구니, 선물, 구매) */
.category-product-icons {
    position: absolute;
    bottom: 10px; /* 이미지 하단에 배치 */
    left: 50%;
    transform: translateX(-50%); /* 가로 가운데 정렬 */
    opacity: 0; /* 기본적으로 숨김 처리 */
    transition: opacity 0.3s ease; /* 부드럽게 나타남 */
    display: flex;
    gap: 10px; /* 아이콘 사이의 간격 */
}

/* 이미지에 마우스를 올렸을 때 아이콘 표시 */
.category-product-image-container:hover .category-product-icons {
    opacity: 1; /* 마우스를 올리면 아이콘 보이기 */
}

/* 아이콘 스타일 */
.category-product-icons button, .category-product-icons a {
    background-color: transparent;
    color: #e5101d;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.category-product-icons button:hover, .category-product-icons a:hover {
    color: #b00c15;
}

/* 구매하기 아이콘 색상 */
.category-buy-now i {
    color: #ffcc00;
}

/* 상품명과 가격 스타일 */
.category-product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.category-product-price {
    font-size: 16px;
    color: #e5101d;
    font-weight: bold;
}