
body {
    font-family: 'NEXON Lv1 Gothic OTF';
    background-color: #fff;
    color: #333;
}

main {
    width: 100%;
    margin: 0 auto;
}

/* 네비게이션 스타일 */
store-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

store-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
    font-family: 'GmarketSansMedium', serif;
}

store-nav a:hover {
    color: #e5101d; /* CGV의 빨간색 강조 */
}

.store-cart-link {
    position: relative;
    font-weight: bold;
    color: #e5101d;
}

/* 콘텐츠 영역 스타일 */
.store-content {
    max-width: 1200px;
    margin: 0 auto;
}

.store-category-header {
    display: flex;
    justify-content: space-between; /* 왼쪽에는 카테고리명, 오른쪽에는 버튼 배치 */
    align-items: center; /* 수직으로 가운데 정렬 */
    margin-bottom: 20px; /* 아래쪽에 여백 추가 */
    border-bottom: 2px solid #e5101d;
}

.store-category-title {
    font-family: 'GmarketSansMedium', serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
}

/* 섹션 제목 */
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* 상품 그리드 스타일 */
.store-product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.store-product-item {
    flex: 0 0 23%; /* 각 아이템의 고정 너비 설정 (23%로 설정하여 4개가 한 줄에 오도록) */
    max-width: 23%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box; /* 패딩이 포함되도록 박스 크기 설정 */
}

.store-product-item img {
    max-width: 100%;
    height: auto;
}

.store-product-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.store-product-info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.store-price {
    font-size: 18px;
    color: #e5101d;
    font-weight: bold;
}

.store-btn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e5101d;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    margin: 20px;
}

/* 버튼 스타일 */
.store-btn-detail {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #464646;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
}

.store-btn-detail:hover, .store-btn-more:hover {
    background-color: #b00c15;
}

