<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>storeCart</title>
    <link rel="stylesheet" th:href="@{/css/store/cart.css}">
</head>
<body>
<main class="store-cart">
    <div class="store-content">
        <store-nav>
            <a th:each="category : ${categories}" th:href="@{'/store/' + ${category}}" th:text="${category}"></a>
            <a class="store-cart-link" th:href="@{/store/cart}">장바구니</a>
        </store-nav>
    </div>

    <div class="cart-steps">
        <span class="step step-active">STEP 01 장바구니</span>
        <span class="step-divider">&gt;</span>
        <span class="step">STEP 02 선물정보 입력</span>
        <span class="step-divider">&gt;</span>
        <span class="step">STEP 03 결제하기</span>
        <span class="step-divider">&gt;</span>
        <span class="step">STEP 04 결제완료</span>
    </div>

    <!-- 상품 리스트 헤더 -->
    <div class="cart-item-header">
        <div class="cart-header-checkbox">
        <input type="checkbox" id="selectAll"> <!-- 전체 선택 체크박스 -->
        </div>
        <div class="cart-header-info">상품 정보</div>
        <div class="cart-header-quantity">수량</div>
        <div class="cart-header-total">구매 금액</div>
        <div class="cart-header-actions">삭제</div>
    </div>

    <div class="cart-items">
        <div class="cart-item" th:each="item : ${cartItems}" th:data-cart-no="${item.cartNo}" th:data-product-no="${item.productNo}">
            <div class="cart-item-checkbox">
            <input type="checkbox" name="selectedItems" th:value="${item.cartNo}">
            </div>
            <div class="cart-product-info">
                <img th:src="${item.product.imageUrl}" alt="상품 이미지" class="cart-product-image">
                <div>
                    <span th:text="${item.product.productName}"></span>
                    <span th:hidden="'판매가격: ' + ${item.product.price} + '원'" th:data-price="${item.product.price}"></span>
                </div>
            </div>
            <div class="cart-product-quantity">
                <button class="cart-quantity-btn decrease" th:data-cart-no="${item.cartNo}" th:data-product-no="${item.productNo}">-</button>
                <span th:text="${item.quantity}" th:id="'quantity' + ${item.cartNo} + ${item.productNo}"></span>
                <button class="cart-quantity-btn increase" th:data-cart-no="${item.cartNo}" th:data-product-no="${item.productNo}">+</button>
            </div>
            <div class="cart-product-total" th:text="${item.product.price * item.quantity} + '원'"></div>
            <div class="cart-product-actions">
                <button class="cart-btn-delete" th:data-cart-no="${item.cartNo}" th:data-product-no="${item.productNo}">삭제</button>
            </div>
        </div>
    </div>

    <div class="cart-summary">
        <p>총 상품금액: <span id="totalAmount">0원</span></p>
        <p>총 할인금액: <span id="totalDiscount">0원</span></p>
        <p>결제 예정금액: <span id="finalPrice">0원</span></p>
    </div>

    <div class="cart-actions">
        <button onclick="orderSelected()">선택상품 구매</button>
        <button onclick="orderAll()">전체상품 구매</button>
    </div>
</main>
<script th:src="@{/js/store/cart.js}"></script>
</body>
</html>