<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>CINEMATES-StoreMain</title>
    <link rel="stylesheet" th:href="@{/css/store/storeMain.css}">
</head>
<body>

<script>
    function moveToLogin() {
        location.href = "/login"
    }
</script>
<main>
    <div role="main">
        <div class="store-content">
            <store-nav>
                <a th:each="category : ${categories}" th:href="@{'/store/' + ${category}}" th:text="${category}"></a>
                <a class="store-cart-link" th:href="@{/store/cart}">장바구니</a>
            </store-nav>
        </div>

        <div th:each="entry : ${productsByCategory}"
             th:class="${'section category-section ' + entry.key.toLowerCase() + '-section'}">
            <br>
            <div class="store-category-header">
                <h2 class="store-category-title" th:text="${entry.key}"></h2>
                <a class="store-btn-more" th:href="@{'/store/' + ${entry.key}}">더보기</a>
            </div>
            <div class="store-product-grid">
                <div class="store-product-item" th:each="product : ${entry.value}">
                    <div class="store-product-info">
                        <img th:src="${product.imageUrl}" th:alt="${product.productName}">
                        <h3 th:text="${product.productName}"></h3>
                        <p th:text="${product.description}">짧은 설명</p>
                        <p class="store-price"
                           th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + '원'"></p>
                        <a class="store-btn-detail" th:href="@{'/store/product/' + ${product.productNo}}">상세보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/store/storeMain.js}"></script>
</body>
</html>