<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>CINEMATES-StoreCategory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/store/storeCategory.css}">
</head>
<body>
<main class="category-main" role="main">
    <div class="store-content">
        <store-nav>
            <a th:each="category : ${categories}" th:href="@{'/store/' + ${category}}" th:text="${category}"></a>
            <a class="store-cart-link" th:href="@{/store/cart}">장바구니</a>
        </store-nav>
    </div>

    <div class="category-product-grid">
        <div class="category-product-item" th:each="product : ${products}">
            <div class="category-product-image-container">
                <img class="category-product-image" th:src="${product.imageUrl}" th:alt="${product.productName}">
                <div class="category-product-icons">
                    <button class="cart-icon" th:data-product-no="${product.productNo}">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                    <a th:href="@{/store/gift/{productNo}(productNo=${product.productNo})}" class="gift-icon">
                        <i class="fas fa-gift"></i>
                    </a>
                    <button class="category-buy-now" th:data-product-no="${product.productNo}">
                        <i class="fas fa-credit-card"></i>
                    </button>
                </div>
            </div>
            <h4 class="category-product-name" th:text="${product.productName}"></h4>
            <p class="category-product-price"
               th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + '원'"></p>
        </div>
    </div>
</main>
<script th:src="@{/js/store/storeCategory.js}"></script>
</body>
</html>