.header-top {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cccccc;
    padding: 0 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.header-top-inner {
    position: relative;
}
.header-logo {
    padding: 10px 20px;
}
.header-logo img {
    cursor: pointer;
    height: 62px;
}
#header-my, #header-login {
    position: absolute;
    cursor: pointer;
}
#header-my {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    top: 22px;
    right: -110%;
}
#header-login {
    width: 35px;
    top: 40px;
    right: -110%;
}
.header-my-expand {
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 11%;
    z-index: 1000;
    right: 25px;
    font-family: "NEXON Lv1 Gothic OTF", serif;
    transform: translateX(calc(-100% - 170px)) translateY(-10px);
    width: 160px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(255, 255, 255, 0.5);
}
.header-my-expand p {
    padding: 13px;
    text-align: center;
}
.header-my-expand p:first-of-type {
    font-weight: bold;
    background-color: #f8f3f3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.header-my-expand p:nth-child(n+2) {
    transition: background-color 0.2s;
    cursor: pointer;
}
.header-my-expand p:hover:nth-child(n+2) {
    background-color: #EA4E4A;
    color: white;
}
.header-my-expand p:hover:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.header-bottom {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 998;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: top 0.3s ease;
}
.nav-menu {
    width: 740px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    position: relative;
    padding: 13px 24px 8px 24px;
    font-family: 'GmarketSansMedium', serif;
}
.nav-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #e74e4c;
    transition: all .3s ease-out;
}
.nav-menu a:hover:after {
    width: 100%;
}



