.qna-container {
    margin-bottom: 50px;
}
h1 {
    font-family: 'GmarketSansMedium', sans-serif;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
}
.search-input-container {
    display: flex;
    justify-content: center;
}
.input-section {
    display: flex;
}
.input-section {
    display: inline-flex;
    margin-left: 25px;
    font-size: 0.9em;
}
.input-section input[type='text'], .input-section button {
    padding: 8px;
    margin-left: 5px;
    font-family: "NEXON Lv1 Gothic OTF", serif;
}
.input-section input[type='text'] {
    width: 350px;
}
.search-btn {
    background-color: #464646;
    border-radius: 5px;
    height: 38px;
    width: 60px;
    color: white;
    border: none;
    cursor: pointer;
}
.common-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.common-table th, .common-table td {
    padding: 12px;
    text-align: center;
    font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
    border: none;
}
.common-table th {
    background-color: #ffffff;
    font-size: 16px;
    border-bottom: 2px solid #D54946;
}
.common-table td {
    font-size: 14px;
}
.common-table td:nth-child(2) {
    max-width: 660px;
}
.common-table tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.common-table tr:hover {
    background-color: #e2e2e26c;
}
.qna-detail-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
/*페이지네이션*/
.common-pagination-li-end {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.common-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.common-pagination-li {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.common-pagination-li a{
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.common-pagination-li-end a {
    text-decoration: none;
    color: black;
}
.common-pagination-li-active a {
    /*color: white;*/
    color: #EA4E4A;
    font-weight: bold;
}