.my-page-container {
    font-family: 'NEXON Lv1 Gothic OTF', serif;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
}

/*메인 CSS*/
#main-container {
    width: 900px;
    float: left;
    margin: 0 auto;
}
.remove-form {
    font-family: 'NEXON Lv1 Gothic OTF', serif;
    margin-left: 40px;
    padding: 20px;
}
#remove-title {
    font-family: 'GmarketSansMedium', serif;
    font-size: 28px;
    font-weight: bold;
}
#remove-info pre {
    font-family: 'NEXON Lv1 Gothic OTF', serif;
    font-size: 14px;
    letter-spacing: 1px;
}
#red-text {
    color: red;
}
.input-group {
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.input-group label {
    width: 120px;
    font-size: 16px;
}
.input-group span {
    font-size: 16px;
    font-weight: 500;
    color: #233245;
}
.common-input-box {
    width: 480px;
    padding: 10px;
    margin: 10px 0;
}
#remove-btn {
    width: 100px;
    height: 48px;
    padding: 10px 10px;
    margin-right: 80px;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: #464646;
    border: 2px solid #464646;
    font-family: 'NEXON Lv1 Gothic OTF', serif;
    transition: border 0.3s ease, background-color 0.3s ease;
    font-size: 16px;
    color: white;
    cursor: pointer;
    float: right;
}
#remove-btn:hover {
    background-color: #242424;
    border: 2px solid #242424;
    color: white;
}