.my-page-container {
    font-family: 'NEXON Lv1 Gothic OTF', serif;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: 0 auto;
    flex-direction: row;
    width: 90%;
    flex: 1 1 auto;
}

/*메인 CSS*/
#main-container {
    width: 800px;
    float: left;
    margin: 0 auto;
}
.update-form {
    font-family: 'NEXON Lv1 Gothic OTF', serif;
    margin-left: 40px;
    padding: 20px;
}
#update-title {
    font-family: 'GmarketSansMedium', serif;
    font-size: 28px;
    font-weight: bold;
}
.input-group {
    margin: 15px 0;
    height: 58px;
    display: flex;
    align-items: center;
}
.input-group label {
    width: 140px;
    font-size: 16px;
}
.input-group span {
    font-size: 16px;
    font-weight: 500;
    color: #233245;
}
.common-input-box {
    width: 460px;
    padding: 10px;
    margin: 10px 0;
}
.pwd-group {
    position: relative;
    width: 100%;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 55%;
    left: 77%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 20px;
}
#select-file-btn {
    padding: 11px 10px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #6e6e6e;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    display: inline-block;
}
.file-group {
    display: flex;
    align-items: center;
}
.file-group input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}
#thumbnail-container {
    margin-top: 10px;
}
#profile-thumbnail {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.common-primary-btn {
    width: 140px;
    margin-left: 240px;
    font-size: 16px;
    letter-spacing: 0;
}
.common-primary-btn:hover {
    background-color: #E12C25;
}