.container {
    width: 100%;
    background-color: #444;
}
.Seat-Container{

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1400px;
    height: 550px;
    margin: 0 auto;
}
.seat {
    width: 30px;
    height: 30px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.selected {
    background-color: #4CAF50;
    color: white;
}

.reserved {
    background-color: #f44336;
    color: white;
    cursor: not-allowed;
}
/*인원 선택 */
.select_num_people_wrap{
    display: flex;
    width:100%;
    background-color: white;
}
.count_person{
    width:800px;
    flex:8;
}
.count_person ul {
    margin-top:20px;
}
.count_person ul li{
    float:left
}.count_person ul li span{
     /*display: inline-block;*/
    width:100%;
}
.counter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px; /* 항목 간 간격 */
}

.counter-item {
    display: flex;
    align-items: center;
    gap: 10px; /* 제목과 컨트롤 사이 간격 */
}

.tit {
    font-size: 16px;
    min-width: 40px; /* 제목의 최소 너비 */
}

.counter-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px; /* 조정 가능한 너비 */
}

.counter-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result, .result1, .result2 {
    min-width: 20px;
    text-align: center;
}
/*영화 정보 div */
.movieInfo{
    float:left;
    flex:3;
    display: flex;
}
.movieInfo strong{
    font-size: 22px;
}
.movieInfo div img {
    width:100px;
    height: 100px;
}
.movie-img{
    width:100px;
}
#seatMap{
    margin:0 auto;
}
.Screen{
    line-height: 1.1;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.03em;
}