.container {
    width: 100%;
    background-color: #444;
}

.reservation-detail {
    display: none;
}

.reservation-detail:not(:empty) {
    display: inline-block;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    color: #333;
}

.payment-container {
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reserveInfo {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

.reserveInfo_1 {
    flex: 1;
}

.reserveInfo_1 img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    float: left;
}

.reserveInfo_1 span, .reserveInfo_2 strong {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.reserveInfo_2 {
    flex: 2;
}

.payment-methods {
    background-color: #f9f9f9;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.payment-method-btn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ed1c24;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
}

.payment, .payment_pay, .payment_1 {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #ddd;
}


#ticket-btn, #credit-btn {
    border-radius: 3px;

}

#pay-button {
    position: relative;
    top:151px;
    width: 100%;
    padding: 15px;
    background-color: #ed1c24;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


#ticketCount {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
}
.hidden{
    width:100%;
    height: 100%;
    padding:50px 0 50px 0;
}