<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link href="/css/mypage/findReservation.css" rel="stylesheet">
<link href="/css/mypage/mySideBar.css" rel="stylesheet">
<div class="my-page-container">
    <!-- 사이드바 -->
    <div th:replace="~{pages/mypage/mySideBar :: my-sidebar}"></div>
    <!-- 메인 -->
    <main id="main-container">
        <div class="search-reserve-form">
            <p id="reserve-title">예매 내역 조회</p><br><br><br>
            <div class="form-group" id="reserve-search-section">
                <form id="find-reservation-form">
                    <label for="reservation-no"><b>예매번호 입력</b></label>
                    <input type="text" class="common-input-box" id="reservation-no" placeholder="예매번호 10자리를 입력해주세요">
                    <button type="button" id="reserve-search-btn">조회하기</button>
                </form>
            </div>
            <!-- 영화정보 있을 때 -->
            <div class="info-group" id="movie-info">
            </div>
            <!-- 영화정보 없을 때 -->
            <div class="error-group" id="error-message">
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" src="/js/mypage/findReservation.js"></script>
</html>