<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<link href="/css/mypage/remove.css" rel="stylesheet">
<link href="/css/mypage/my-sidebar.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
<div class="my-page-container">
    <!-- 사이드바 -->
    <div th:replace="~{pages/mypage/my-sidebar :: my-sidebar}"></div>
    <!-- 메인 -->
    <main id="main-container">
        <div class="remove-form">
            <p id="remove-title">회원 탈퇴</p><br><br><br>
            <div id="remove-info">
                <pre>
회원 탈퇴 후에는 해당 계정 및 관련 개인정보가 모두 즉시 삭제되며, 아이디와 데이터는 복구할 수 없습니다.
단, 구매내역이 있으실 경우 해당 거래 정보는 소비자보호에 관한 법률이 지정한 보존기간(5년) 동안 보관됩니다.

진행 중인 주문이 있을 경우 탈퇴 후에는 주문 내역 확인이 불가하므로, 회원 탈퇴를 원하시더라도
거래 종료(배송완료 또는 구매확정) 후에 진행 부탁드립니다.
                </pre>
                <pre id="red-text">
회원 탈퇴 후에는 복구가 불가능합니다. 탈퇴 전에 다시 한 번 신중하게 생각해주시기 바랍니다.
탈퇴로 인한 데이터 및 서비스 손실에 대해서는 책임지지 않습니다.</pre>
            </div><br>
            <form id="remove-member-form">
                <div class="input-group id-group">
                    <label><b>아이디</b></label>
                    <span th:text="${member.memberId}"></span>
                </div>
                <div class="input-group pwd-group">
                    <label><b>비밀번호</b></label>
                    <input type="password" class="common-input-box" id="pw-input" name="memberPw" placeholder="비밀번호를 입력해주세요">
                    <i class="fi fi-rs-eye toggle-password pwIcon"></i>
                    <span class="failure-message hide message" id="pw-failure-message"></span>
                </div>
                <br><br>
                <button type="button" class="submit-btn" id="remove-btn" onclick="removeMember()">회원탈퇴</button>
            </form>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/js/mypage/remove.js"></script>
</html>