<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
    <head>
        <title>채팅방</title>
        <script src="https://kit.fontawesome.com/7d4169cb69.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/chat/chatRoom.css">
        <script crossorigin="anonymous" th:src="@{/js/chat/chatRoom.js}" defer></script>
        <script th:inline="javascript">
            let roomNo = /*[[${chatRoom.roomNo}]]*/; // 방번호
            let memberId = /*[[${session.memberId}]]*/; // 사용자 이름 입력받기
            let firstOrJoin = /*[[${firstOrJoin}]]*/;
            let roomWriter = /*[[${chatRoom.roomWriter}]]*/;
            let joinProfile = /*[[${chatJoinList}]]*/;
        </script>
    </head>

    <body>
        <h1 style="text-align: center; margin-top: 50px">채팅방</h1>
        <div class="chat-room-container">
            <div class="reservation-info-background">
                <img class="ticket-img" src="/img/chat/ticket.png" alt="티켓">
                <div id="ticket-title" style="">TICKET</div>
                <div class="reservation-info-box grid-container">
                    <div class="grid-item grid-title">
                        <div class="grid-item-name">TITLE</div>
                        <div style="font-size: 36px; margin-top: 20px;" th:text="${chatRoom.title}"></div>
                    </div>
                    <div class="grid-item grid-movieImg">
                        <div class="posterImg" th:style="'width:45%; height:90%; margin-left:10px; background-image: url('+${chatRoom.posterUrl}+'); background-position: center; background-size: cover; border-radius:20px;'">
                        </div>
                        <div>
                            <button id="select-reservationInfo-btn" type="button"
                                    th:onclick="testOpen([[${chatRoom.roomNo}]],[[${chatRoom.roomWriter}]],[[${chatRoom.movieNo}]],[[${chatRoom.title}]], [[${chatRoom.posterUrl}]], [[${chatRoom.cinemaNo}]],[[${chatRoom.cinemaName}]], [[${chatRoom.cinemaLocationCode}]], [[${chatRoom.cinemaAddress}]], [[${chatRoom.roomCategory}]]);">상영관 선택</button>
                        </div>
                    </div>
                    <div class="grid-item grid-date">
                        <div class="grid-item-name">DATE</div>
                        <div id="reservationDate" style="font-size: 20px">
                            미정
                        </div>
                    </div>
                    <div class="grid-item grid-time">
                        <div class="grid-item-name">TIME</div>
                        <div id="showtimeTime" style="font-size: 20px">미정</div>
                    </div>
                    <div class="grid-item grid-region">
                        <div class="grid-item-name">CINEMA</div>
                        <div style="font-size: 25px;" th:text="${chatRoom.cinemaAddress}"></div>
                        <div style="font-size: 25px;" th:text="${chatRoom.cinemaName}"></div>
                    </div>
                    <div class="grid-item grid-screen">
                        <div class="grid-item-name">SCREEN</div>
                        <div id="screenName" style="font-size: 32px">
                            미정
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-screen">
                <div id="user-list-container">
                    <div th:id="${joinList.getMemberId()}" th:each="joinList:${chatJoinList}" style="display: flex; flex-direction: column;align-items: center; position: relative">
                        <div style="position: absolute; top: -8px; left: 40px; font-size: 24px; transform: rotate(40deg);; color: rgba(255,227,73,0.91)" th:if="${roomWriter != null && roomWriter == joinList.memberId}"><i class="fa-solid fa-crown"></i></div>
                        <th:block th:if="${joinList.filePath == null}">
                            <img alt="프로필" src="/img/default_profile.png" style="width: 60px; height: 60px; border-radius: 50%;">
                        </th:block>
                        <th:block th:if="${joinList.filePath != null}">
                            <img th:src="@{|${joinList.filePath}${joinList.fileRename}|}" alt="프로필" style="width: 60px; height: 60px; border-radius: 50%;">
                        </th:block>
                        <div th:text="${joinList.memberId}"></div>
                    </div>
                </div>
                <div class="main-screen">
                    <th:block th:each="chatMessageList : ${chatMessageList}">
                        <div th:if="${!chatMessageList.messageType.name().equals('TALK')}" class="notice-box">
                            <div class="notice-message" th:text="${chatMessageList.chatContent}"></div>
                        </div>
                        <div th:if="${chatMessageList.messageType.name().equals('TALK') and chatMessageList.memberId != session.memberId}" class="other-chat-box">
                            <div class="other-chat-profile">
                                <th:block th:if="${chatMessageList.filePath == null}">
                                    <img alt="프로필" src="/img/default_profile.png" style="width: 100%; height: 100%; border-radius: 50%;">
                                </th:block>
                                <th:block th:if="${chatMessageList.filePath != null}">
                                    <img th:src="@{|${chatMessageList.filePath}${chatMessageList.fileRename}|}" alt="프로필" style="width: 100%; height: 100%; border-radius: 50%;">
                                </th:block>
                            </div>
                            <div style="max-width: 60%; margin-left: 5px">
                                <div class="other-chat-name" th:text="${chatMessageList.memberId}"></div>
                                <div class="other-chat-message" th:text="${chatMessageList.chatContent}"></div>
                            </div>
                            <div class="other-chat-date" th:text="${#dates.setFormat(chatMessageList.chatDate,'a:hh:mm')}"></div>
                        </div>
                        <div  th:if="${chatMessageList.messageType.name().equals('TALK') and chatMessageList.memberId == session.memberId}" class="my-chat-box">
                            <div class="my-chat-date" th:text="${#dates.setFormat(chatMessageList.chatDate,'a:hh:mm')}"></div>
                            <div class="my-chat-message" th:text="${chatMessageList.chatContent}"></div>
                        </div>
                    </th:block>

                </div>

                <div class="message-input-box">
                    <textarea class="message-input" placeholder="메세지 입력" ></textarea>
                    <div style="display: flex; justify-content: right;">
                        <button type="button" onclick="sendMessage();">전송</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 100px;">
            <div style="font-family: 'NEXON Lv1 Gothic OTF', serif; width: 100%; display: flex; justify-content: space-between; padding-right: 25px">
                <h1>영화예매 진행에 동의하십니까?</h1>
                <th:block th:if="${session.memberId == chatRoom.roomWriter}">
                    <button id="delete-btn" type="button" onclick="deleteChatRoom()">채팅방 삭제</button>
                </th:block>
                <th:block th:if="${session.memberId != chatRoom.roomWriter}">
                    <button id="leave-btn" type="button" onclick="if(confirm('채팅방을 정말 나가시겠습니까? 나갈 경우 이전의 대화기록을 확인할 수 없습니다.')) leaveChatRoom();">나가기</button>
                </th:block>
            </div>
            <div style="font-family: 'NEXON Lv1 Gothic OTF', serif; display: inline-flex; flex-direction: column; align-items: end">
                <div style="margin: 30px 0;">방장이 예매의 다음 절차를 진행하려면 대화에 참여한 모든 회원의 동의가 필요합니다</div>
                <label style="font-size: 18px; font-weight: bold" id="acceptCheck">
                    동의함
                    <input type="checkbox" name="acceptCheck" onclick="checkAcceptReservation();">
                </label>
            </div>

        </div>


        <th:block th:if="${session.memberId == chatRoom.roomWriter}">
            <form action="/Ticketing/PersonSeat" method="post">
                <input type="hidden" name="movieNo" th:value="${chatRoom.movieNo}">
                <input type="hidden" name="title" th:value="${chatRoom.title}">
                <input type="hidden" name="posterUrl" th:value="${chatRoom.posterUrl}">
                <input type="hidden" name="cinemaLocationCode" th:value="${chatRoom.cinemaLocationCode}">
                <input type="hidden" name="cinemaNo" th:value="${chatRoom.cinemaNo}">
                <input type="hidden" name="cinemaName" th:value="${chatRoom.cinemaName}">
                <input type="hidden" name="screenNo">
                <input type="hidden" name="showtimeNo">
                <input type="hidden" name="showtimeTime">
                <input type="hidden" name="screenName">
                <input type="hidden" name="reservationDate">
                <input type="hidden" name="prevPage" value="chatRoom">
                <input type="hidden" name="memberIds" value="">
                <input name="reservationSeat" type="hidden" value="">
                <button type="submit" id="resv-btn" onclick="return openReservationWindow(event)">예매하기</button>
            </form>
        </th:block>



    </body>
</html>