<!DOCTYPE html>
    <!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
    <head>
        <title>채팅방 목록</title>
        <script src="https://kit.fontawesome.com/7d4169cb69.js" crossorigin="anonymous"></script>
        <!-- css link-->
        <link rel="stylesheet" href="/css/chat/chatList.css">
        <link rel="stylesheet" href="/css/chat/modalNavi.css">
        <!-- script src-->
        <script crossorigin="anonymous" src="/js/chat/listMenuBtn.js" defer></script>
        <script crossorigin="anonymous" src="/js/chat/modalNavi.js" defer></script>
        <script crossorigin="anonymous" src="/js/chat/chatReport.js" defer></script>
        <!-- inline CSS 영역-->
        <style>
        </style>


        <!-- inline JS 영역-->
        <script th:inline="javascript" type="text/javascript">
            // list -> card 전환 function
            function switchToCardView() {
                const listItems = document.querySelectorAll('.list-item');
                const cardItems = document.querySelectorAll('.card-item');
                const listContainer = document.querySelector('#toList-container');
                const toListBtn = document.querySelector('#toList-btn');
                const toCardBtn = document.querySelector('#toCard-btn');

                // positionbox data-mode 값 변경 (컨테이너 크기 동적으로 바꾸기 위함)
                let positionBox = document.querySelector('#position-box');
                positionBox.setAttribute('data-mode', 'card');

                // 버튼 활성화 시 클래스 추가 (활성화 스타일 적용)
                toListBtn.classList.remove('active');
                toCardBtn.classList.add('active');


                const url = new URL(window.location);
                url.searchParams.set('viewMode', 'card'); // 쿼리스트링의 viewMode 값 변경
                history.pushState(null, '', url); // 페이지 새로고침 없이 URL 변경

                // 전환되는 동안 버튼 비활성화
                if(!cardItems[0].classList.contains('fade-in')){
                    btnDisabled(listItems, cardItems, "paging");
                }

                // 리스트형 아이템 흐려지게
                listItems.forEach((item, index) => {
                    setTimeout(() => {
                        if (item.classList.contains('fade-in')){
                            item.classList.add('fade-out');
                            item.classList.remove('fade-in');
                        }

                    }, index * 100); // 100ms 간격으로 흐려짐
                });

                listContainer.style.zIndex = '1';


                // 카드형 아이템 순차적으로 나타나게
                cardItems.forEach((item, index) => {
                    setTimeout(() => {
                        if (item.classList.contains('fade-out')){
                            item.classList.add('fade-in');
                            item.classList.remove('fade-out');
                        }
                    }, 200 + (index * 150)); // 리스트가 사라진 후 150ms 간격으로 나타남
                });
            }

            // card -> list 전환 function
            function switchToListView() {
                const listItems = document.querySelectorAll('.list-item');
                const cardItems = document.querySelectorAll('.card-item');
                const listContainer = document.querySelector('#toList-container');
                const cardContainer = document.querySelector('#toCard-container');
                const toListBtn = document.querySelector('#toList-btn');
                const toCardBtn = document.querySelector('#toCard-btn');

                // positionbox data-mode 값 변경 (컨테이너 크기 동적으로 바꾸기 위함)
                let positionBox = document.querySelector('#position-box');
                positionBox.setAttribute('data-mode', 'list');

                // 버튼 활성화 시 클래스 추가 (활성화 스타일 적용)
                toCardBtn.classList.remove('active');
                toListBtn.classList.add('active');

                const url = new URL(window.location);
                url.searchParams.set('viewMode', 'list'); // 쿼리스트링의 viewMode 값 변경
                history.pushState(null, '', url); // 페이지 새로고침 없이 URL 변경

                // 전환되는 동안 버튼 비활성화
                if(!listItems[0].classList.contains('fade-in')){
                    btnDisabled(listItems, cardItems, "paging");
                }

                // card형 아이템 흐려지게
                cardItems.forEach((item, index) => {
                    setTimeout(() => {
                        if (item.classList.contains('fade-in')){
                            item.classList.add('fade-out');
                            item.classList.remove('fade-in');
                        }
                    }, index * 100); // 100ms 간격으로 흐려짐
                });

                cardContainer.style.zIndex = '1';
                listContainer.style.zIndex = '3';


                // list형 아이템 순차적으로 나타나게
                listItems.forEach((item, index) => {
                    setTimeout(() => {
                        if (item.classList.contains('fade-out')) {
                            item.classList.add('fade-in');
                            item.classList.remove('fade-out');
                        }
                    }, 200 + (index * 150)); // 리스트가 사라진 후 150ms 간격으로 나타남
                });



            }

            // 버튼 비활성화
            function btnDisabled(listItems, cardItems, status){
                const listSwitchBtn = document.querySelectorAll('.listSwitch-btn');
                listSwitchBtn.forEach(item=>{
                    item.disabled = true;
                });

                // 애니메이션이 끝난 후 버튼 활성화
                let totalDuration = 0;
                if(status === 'load'){
                    totalDuration = (cardItems.length * 150);
                }else if(status === 'paging'){
                    totalDuration = 500+(cardItems.length * 150);
                }

                setTimeout(() => {
                    listSwitchBtn.forEach(item=>{
                        item.disabled = false;
                    });
                }, totalDuration); // 애니메이션 시간에 맞춰 비활성화 해제
            }



        //    페이지네이션
            function navigatePage(page){
                let status = /*[[${pageStatus}]]*/;
                let toListBtn = document.querySelector('#toList-btn');
                let toCardBtn = document.querySelector('#toCard-btn');

                if(status === 'my'){
                    if(toListBtn.classList.contains('active')){
                        location.href=`/chat/list?cp=${page}&viewMode=list&status=${status}`;
                    }else if(toCardBtn.classList.contains('active')){
                        location.href=`/chat/list?cp=${page}&viewMode=card&status=${status}`;
                    }else{
                        console.log("location 실패")
                    }
                }else{
                    if(toListBtn.classList.contains('active')){
                        location.href=`/chat/list?cp=${page}&viewMode=list`;
                    }else if(toCardBtn.classList.contains('active')){
                        location.href=`/chat/list?cp=${page}&viewMode=card`;
                    }else{
                        console.log("location 실패")
                    }
                }



            }

           window.addEventListener('load',()=>{
               const listContainer = document.querySelector('#toList-container');
               const cardContainer = document.querySelector('#toCard-container');
               let listItems = document.querySelectorAll('.list-item');
               let cardItems = document.querySelectorAll('.card-item');
               let toListBtn = document.querySelector('#toList-btn');
               let toCardBtn = document.querySelector('#toCard-btn');
               let viewMode = /*[[${viewMode}]]*/;

               // positionbox data-mode 값 변경 (컨테이너 크기 동적으로 바꾸기 위함)
               let positionBox = document.querySelector('#position-box');
               positionBox.setAttribute('data-mode', viewMode); // 페이지 이동시 초기화되므로 viewMode값을 불러와 처리
                // resize
               reSizePositionBox();

               if(viewMode === 'list'){
                   cardContainer.style.zIndex = '1';
                   listContainer.style.zIndex = '3';
                   listItems.forEach((item, index)=>{
                       setTimeout(()=>{
                           item.classList.remove('fade-out');
                           item.classList.add('fade-in');
                       }, 200+(index * 100))

                       if(!toListBtn.classList.contains('active')){
                           toCardBtn.classList.remove('active');
                           toListBtn.classList.add('active');
                       }


                   });

               }else if(viewMode === 'card'){
                   listContainer.style.zIndex = '1';
                   cardItems.forEach((item, index)=>{
                       setTimeout(()=>{
                           item.classList.remove('fade-out');
                           item.classList.add('fade-in');
                       }, 200+(index * 100))

                   if(!toCardBtn.classList.contains('active')){
                       toCardBtn.classList.add('active');
                       toListBtn.classList.remove('active');
                       }
                   });
               }

               // 로드되는 동안 버튼 비활성화
               btnDisabled(listItems, cardItems, "load");



               // 카드형 리스트 채팅방 정보
               const roomCardInfos = document.querySelectorAll('.toCard-item-info');
               roomCardInfos.forEach((item,index) => {
                   item.addEventListener('mouseover',()=>{
                       let itemCardTitles = document.querySelectorAll('.itemCard-title');
                       let itemCardRecentContents = document.querySelectorAll('.itemCard-recentContent');
                       let itemCardRoomDates = document.querySelectorAll('.itemCard-roomDate');


                           itemCardTitles[index].style.display="block";
                           itemCardRecentContents[index].style.display="block";
                           itemCardRoomDates[index].style.display="block";


                       item.addEventListener('mouseout',()=>{
                               itemCardTitles[index].style.display="none";
                               itemCardRecentContents[index].style.display="none";
                               itemCardRoomDates[index].style.display="none";

                       });
                   });

               })

               let cardMouseover = document.querySelectorAll('.card-mouseover');
               cardMouseover.forEach(item=>{

                   item.addEventListener('mouseover',()=>{
                       item.classList.add('visible');
                        console.log("hi")
                       item.addEventListener('mouseout',()=>{
                           item.classList.remove('visible');
                           item.classList.remove('visible');
                           item.classList.remove('visible');

                       });
                   })

               })

           });


        function reSizePositionBox(){
            let positionBox = document.querySelector('#position-box');
            let listBox = document.querySelector('#toList-container');
            let cardBox = document.querySelector('#toCard-container');
            let listBoxHeight = listBox.getBoundingClientRect().height;
            let cardBoxHeight = cardBox.getBoundingClientRect().height;

            let mode = positionBox.getAttribute('data-mode');

            if(mode === "list"){
                console.log("listHeight "+listBoxHeight);
                positionBox.style.height = listBoxHeight+50+"px";
            }else if(mode === "card"){
                console.log("cardHeight "+cardBoxHeight);
                positionBox.style.height = cardBoxHeight+50+"px";
            }
        }





        </script>
    </head>

    <body>
        <div class="chatRoomList-main">
            <div class="listMenuContainer">
                <div class="listMenu-item" onclick="location.href=`/chat/search`;"><i class="fa-solid fa-magnifying-glass" style="padding-right: 10px"></i>검색</div>
                <div class="listMenu-item" id="myBtn" onclick="showListByMyOrAll('my')">내 채팅방</div>
                <div class="listMenu-item" id="allBtn" onclick="showListByMyOrAll('all')">전체</div>
            </div>

            <h1 class="page-title">전체 채팅방</h1>

            <div style="display: flex; justify-content: end;margin: 30px 20px">
                <div class="createRoom-modal-btn" id="chatNavigation">채팅방 만들기</div>
            </div>
            <div id="modalWrap"> <!-- 모달 창을 감싸는 div -->

                <div id="modalBody">
                    <div class="modal-category">채팅방 카테고리 정하기</div>
                    <div id="modalBody-flex">
                        <a href="/chat/createForm?roomCategory=reservation">
                            <div class="modalBody-box left-box"></div>
                        </a>
                        <a href="/chat/createForm?roomCategory=talk">
                            <div class="modalBody-box right-box"></div>
                        </a>

                    </div>
                    <div style="text-align: center; font-size: 18px; margin-top: 20px;">
                        <span style="margin-right: 100px;">사람들과 함께 봐요</span>
                        <span style="margin-left: 50px;">사람들과 이야기해요</span>
                    </div>
                    <span id="closeBtn">&times;</span> <!-- 모달을 닫는 X 버튼 -->
                </div>
            </div>


            <div id="listSwitchContainer">
                <button type="button" class="listSwitch-btn" id="toList-btn" onclick="switchToListView(); reSizePositionBox('list');">
                    <i class="fa-solid fa-list"></i><span>목록형</span>
                </button>
                <button type="button" class="listSwitch-btn" id="toCard-btn" onclick="switchToCardView(); reSizePositionBox('card');">
                    <i class="fa-solid fa-table-cells"></i><span>카드형</span>
                </button>
            </div>

            <div id="position-box" data-mode="list">
<!--                리스트형 레이아웃-->

                    <div class="chatRoomList-container" id="toList-container">
                        <th:block th:if="${chatRoomList == null || chatRoomList.isEmpty()}">
                            <div style="margin: 30px auto; width: 100px; height:100px; background: url('/img/chat/noResult.png'); background-size: cover"></div>
                            <div class="result-empty">참여 중인 채팅방이 없습니다.</div>
                            <div class="result-empty"> 새로운 채팅방을 만들거나 원하는 채팅방에 참여해보세요!</div>
                        </th:block>

                        <div th:if="${chatRoomList != null}" th:each="chatRoom : ${chatRoomList}" class="chatRoom-item list-item fade-out"
                             th:style="${session.memberId != null and chatRoom.roomWriter != null and session.memberId.trim() == chatRoom.roomWriter.trim()} ? 'background-color: beige;' : 'background-color: white;'">
                            <div class="itemBtnFlexContainer">
                                <div class="item-flex-container">
                                    <div class="flex-item-memberProfile">
                                        <div style="position: absolute; top: -12px; right: 0; font-size: 45px; transform: rotate(40deg);; color: rgba(255,227,73,0.91)" th:if="${session.memberId != null and chatRoom.roomWriter != null and session.memberId.trim() == chatRoom.roomWriter.trim()}"><i class="fa-solid fa-crown"></i></div>
                                        <th:block th:if="${chatRoom.filePath == null}">
                                            <img alt="프로필" src="/img/default_profile.png" style="width: 100%; height: 100%; border-radius: 30%;">
                                        </th:block>
                                        <th:block th:if="${chatRoom.filePath != null}">
                                            <img th:src="@{|${chatRoom.filePath}${chatRoom.fileRename}|}" alt="프로필" style="width: 100%; height: 100%; border-radius: 30%;">
                                        </th:block>
                                    </div>

                                    <div class="flex-item-chatInfoBox">
                                        <div class="chatRoomName" th:text="${chatRoom.roomName}"></div>

                                        <div class="chatTagList">태그 :
                                            <span th:each="tag : ${tagList}" th:if="${tag.roomNo == chatRoom.roomNo}" th:text="'#'+${tag.tagName}+' '"></span>
                                        </div>
                                        <div style="display: flex">

                                            <th:block th:if="${chatRoom.joinCount == null}">
                                                <div style="margin-right: 50px" th:text="'1명 참여중'"></div>
                                            </th:block>
                                            <th:block th:if="${chatRoom.joinCount != null}">
                                                <div style="margin-right: 50px" th:text="${chatRoom.joinCount}+'명 참여중'"></div>
                                            </th:block>

<!--                                            <div style="margin-right: 50px" th:text="'참여인원: '+${chatRoom.joinCount}+'명 참여중'"></div>-->
                                            <div th:text="${chatRoom.title}+' ('+${chatRoom.cinemaAddress}+' / '+${chatRoom.cinemaName}+')'"></div>
                                            <div class="report-btn list-report-btn" th:onclick="report([[${chatRoom.roomNo}]],[[${chatRoom.roomWriter}]]);">신고</div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="joinBtn" th:onclick="joinChatRoom([[${chatRoom.roomNo}]], [[${chatRoom.roomWriter}]], [[${chatRoom.movieNo}]],[[${chatRoom.title}]], [[${chatRoom.posterUrl}]], [[${chatRoom.cinemaNo}]],[[${chatRoom.cinemaName}]], [[${chatRoom.cinemaLocationCode}]], [[${chatRoom.cinemaAddress}]], [[${chatRoom.roomCategory}]]);">참여</div>
                                </div>
                            </div>

                            <!--                        <div>방장 이미지</div>-->

                            <!--                        <div th:text="'채팅방 생성 날짜 : '+${chatRoom.roomDate}"></div>-->
                            <!--                        <div>채팅방 최근채팅내용</div>-->

                            <!--                        <div th:text="'영화이름 : '+${chatRoom.movieNo}"></div>-->
                            <!--                        <div th:text="'지역 : '+${chatRoom.cinemaLocationCode}"></div>-->
                            <!--                        <div th:text="'극장 : '+${chatRoom.cinemaNo}"></div>-->
                        </div>


                    </div>


                    <!--                카드형 레이아웃-->
                    <div class="chatRoomList-container" id="toCard-container">
                        <div th:if="${chatRoomList != null}" th:each="chatRoom : ${chatRoomList}" class="chatRoom-item card-item fade-out">
                            <div class="card-mouseover">
                                <div class="card-mouseover-text" th:if="${chatRoom.roomCategory == 'reservation'}" th:text="'모집방'"></div>
                                <div class="card-mouseover-text" th:if="${chatRoom.roomCategory == 'talk'}" th:text="'소통방'"></div>
                                <div class="card-mouseover-text joinBtn" th:onclick="joinChatRoom([[${chatRoom.roomNo}]],[[${chatRoom.roomWriter}]],[[${chatRoom.movieNo}]],[[${chatRoom.title}]], [[${chatRoom.posterUrl}]], [[${chatRoom.cinemaNo}]],[[${chatRoom.cinemaName}]], [[${chatRoom.cinemaLocationCode}]], [[${chatRoom.cinemaAddress}]], [[${chatRoom.roomCategory}]]);">참여하기</div>
                                <div class="report-btn card-report-btn" th:onclick="report([[${chatRoom.roomNo}]],[[${chatRoom.roomWriter}]]);">신고</div>
                            </div>
                            <div th:style="'width:100%; height: 400px; background-image: url('+${chatRoom.posterUrl}+'); background-position: center; background-size: cover; border-radius:20px;'">
                            </div>

                            <div class="toCard-item-info">
                                <div class="itemCard-title" th:text="'< '+${chatRoom.title}+' >'"></div>
                                <div style="font-size: 25px; font-weight:bold" th:text="${#strings.length(chatRoom.roomName) > 15 ? chatRoom.roomName.substring(0, 15) + ' . . .' : chatRoom.roomName}"></div>

                                <th:block th:if="${chatRoom.recentContent == null}">
                                    <div class="itemCard-recentContent" th:text="'아직 대화한 내용이 없습니다'"></div>
                                </th:block>
                                <th:block th:if="${chatRoom.recentContent != null}">
                                    <div class="itemCard-recentContent" th:text="${chatRoom.recentContent}"></div>
                                </th:block>

                                <div>
                                    <span th:each="tag : ${tagList}" th:if="${tag.roomNo == chatRoom.roomNo}" th:text="'#'+${tag.tagName}+' '"></span>
                                </div>
                                <th:block th:if="${chatRoom.joinCount == null}">
                                    <div style="" th:text="'1명 참여중'"></div>
                                </th:block>
                                <th:block th:if="${chatRoom.joinCount != null}">
                                    <div style="" th:text="${chatRoom.joinCount}+'명 참여중'"></div>
                                </th:block>

                                <div th:text="${chatRoom.cinemaAddress}+' / '+${chatRoom.cinemaName}"></div>
                                <th:block th:each="rTime : ${relativeTimeList}">
                                    <div class="itemCard-roomDate" th:if="${chatRoom.roomDate == rTime.roomDate}" th:text="'개설일 : '+${rTime.relativeTime}"></div>
                                </th:block>

                            </div>


                        </div>
                    </div>


            </div>


            <div>
                <div class="paginationBox" th:unless="${#lists.isEmpty(chatRoomList)}">
                    <div>
                        <a th:if="${pn.currentPage != 1}"  href="javascript:void(0)" th:onclick="navigatePage(1)">&#10094&#10094</a>
                        <a th:if="${pn.getStartNavi() != 1}"  href="javascript:void(0)" th:onclick="navigatePage([[${pn.prevPage}]])">&#10094</a>

                        <span th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
                            <span th:if="${p == pn.currentPage}">
                                <span id="currentPageId">
                                    [[${p}]]
                                </span>
                            </span>
                            <span th:if="${p != pn.currentPage}">
                                <a href="javascript:void(0)" th:text="${p}" th:onclick="navigatePage([[${p}]]);"></a>
                            </span>
                        </span>

                        <a th:if="${pn.getEndNavi() != pn.MaxPage}"  href="javascript:void(0)"  th:onclick="navigatePage([[${pn.nextPage}]])">&#10095</a>
                        <a th:if="${pn.currentPage != pn.maxPage}"  href="javascript:void(0)" th:onclick="navigatePage([[${pn.maxPage}]])">&#10095&#10095</a>

                    </div>
                </div>
            </div>


        </div>



        <br><br><br>
        <div>최근참여많은방을 추천해요</div>
        <div>이런주제는 어때요?</div>
        <div>태그들</div>
        <div>최근 대화 많은 방</div>


    </body>
</html>