<!DOCTYPE html>
    <!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
    <head>
        <title>채팅방 목록</title>
        <script src="https://kit.fontawesome.com/7d4169cb69.js" crossorigin="anonymous"></script>
        <!-- css link-->
        <link rel="stylesheet" href="/css/chat/chatList.css">
        <link rel="stylesheet" href="/css/chat/modalNavi.css">
        <!-- script src-->
        <script crossorigin="anonymous" src="/js/chat/listMenuBtn.js" defer></script>
        <script crossorigin="anonymous" src="/js/chat/modalNavi.js" defer></script>
        <script crossorigin="anonymous" src="/js/chat/chatReport.js" defer></script>
        <script crossorigin="" th:src="@{/js/chat/chatRoomList.js}" defer></script>

        <!-- inline JS 영역-->
        <script th:inline="javascript" type="text/javascript">
            let status = /*[[${pageStatus}]]*/;
            let viewMode = /*[[${viewMode}]]*/;
        </script>
    </head>

    <body>
        <div class="chatRoomList-main">
            <div class="listMenuContainer">
                <div class="listMenu-item" onclick="location.href=`/chat/search`;"><i class="fa-solid fa-magnifying-glass" style="padding-right: 10px"></i>검색</div>
                <div class="listMenu-item" id="myBtn" onclick="showListByMyOrAll('my')">내 채팅방</div>
                <div class="listMenu-item" id="allBtn" onclick="showListByMyOrAll('all')">전체</div>
            </div>

            <h1 class="page-title">전체 채팅방</h1>

            <div style="display: flex; justify-content: end; margin: 0 20px 10px ; padding-bottom: 10px; border-bottom: 2px solid #2c3e50">
                <div class="createRoom-modal-btn" id="chatNavigation"><i class="fa-solid fa-pencil" style="margin-right: 2px;"></i>채팅방 만들기</div>
            </div>
            <div id="modalWrap"> <!-- 모달 창을 감싸는 div -->

                <div id="modalBody">
                    <div class="modal-category">채팅방 카테고리 정하기</div>
                    <div id="modalBody-flex">
                        <a href="/chat/createForm?roomCategory=reservation">
                            <div class="modalBody-box left-box"></div>
                        </a>
                        <a href="/chat/createForm?roomCategory=talk">
                            <div class="modalBody-box right-box"></div>
                        </a>

                    </div>
                    <div style="text-align: center; font-size: 18px; margin-top: 20px;">
                        <span style="margin-right: 100px;">사람들과 함께 봐요</span>
                        <span style="margin-left: 50px;">사람들과 이야기해요</span>
                    </div>
                    <span id="closeBtn">&times;</span> <!-- 모달을 닫는 X 버튼 -->
                </div>
            </div>


            <div id="listSwitchContainer">
                <button type="button" class="listSwitch-btn" id="toList-btn" onclick="switchToListView(); reSizePositionBox('list');">
                    <i class="fa-solid fa-list"></i><span>목록형</span>
                </button>
                <button type="button" class="listSwitch-btn" id="toCard-btn" onclick="switchToCardView(); reSizePositionBox('card');">
                    <i class="fa-solid fa-table-cells"></i><span>카드형</span>
                </button>
            </div>

            <div id="position-box" data-mode="list">
<!--                리스트형 레이아웃-->

                    <div class="chatRoomList-container" id="toList-container">
                        <th:block th:if="${chatRoomList == null || chatRoomList.isEmpty()}">
                            <div style="margin: 30px auto; width: 100px; height:100px; background: url('/img/chat/noResult.png'); background-size: cover"></div>
                            <div class="result-empty">참여 중인 채팅방이 없습니다.</div>
                            <div class="result-empty"> 새로운 채팅방을 만들거나 원하는 채팅방에 참여해보세요!</div>
                        </th:block>

                        <div th:if="${chatRoomList != null}" th:each="chatRoom : ${chatRoomList}" class="chatRoom-item list-item fade-out"
                             th:style="${session.memberId != null and chatRoom.roomWriter != null and session.memberId.trim() == chatRoom.roomWriter.trim()} ? 'background-color: beige;' : 'background-color: white;'">
                            <div class="itemBtnFlexContainer">
                                <div class="item-flex-container">
                                    <div class="flex-item-memberProfile">
                                        <div style="position: absolute; top: -20px; right: -10px; font-size: 45px; transform: rotate(40deg);; color: rgba(255,227,73,0.91)" th:if="${session.memberId != null and chatRoom.roomWriter != null and session.memberId.trim() == chatRoom.roomWriter.trim()}"><i class="fa-solid fa-crown"></i></div>
                                        <th:block th:if="${chatRoom.filePath == null}">
                                            <img alt="프로필" src="/img/default_profile.png" style="width: 100%; height: 100%; border-radius: 30%;">
                                        </th:block>
                                        <th:block th:if="${chatRoom.filePath != null}">
                                            <img th:src="@{|${chatRoom.filePath}${chatRoom.fileRename}|}" alt="프로필" style="width: 100%; height: 100%; border-radius: 30%;">
                                        </th:block>
                                    </div>

                                    <div class="flex-item-chatInfoBox">
                                        <div class="chatRoomName" th:text="${chatRoom.roomName}"></div>

                                        <div class="chatTagList" >
                                            <span class="room-tag" th:each="tag : ${tagList}" th:if="${tag.roomNo == chatRoom.roomNo}" th:text="'#'+${tag.tagName}+' '"></span>
                                        </div>
                                        <div style="display: flex">

                                            <th:block th:if="${chatRoom.joinCount == null}">
                                                <div style="margin-right: 50px" th:text="'1명 참여중'"></div>
                                            </th:block>
                                            <th:block th:if="${chatRoom.joinCount != null}">
                                                <div style="margin-right: 50px" th:text="${chatRoom.joinCount}+'명 참여중'"></div>
                                            </th:block>

<!--                                            <div style="margin-right: 50px" th:text="'참여인원: '+${chatRoom.joinCount}+'명 참여중'"></div>-->
                                            <div th:text="${chatRoom.title}+' ('+${chatRoom.cinemaAddress}+' / '+${chatRoom.cinemaName}+')'"></div>
                                            <div class="list-report-btn" style="display: flex;gap: 3px;">
                                                <img style="width: 15px; height: 15px" src="/img/siren.png" alt="">
                                                <div class="report-btn" th:onclick="report([[${chatRoom.roomNo}]],[[${chatRoom.roomWriter}]]);">신고</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="joinBtn" th:onclick="joinChatRoom([[${chatRoom.roomNo}]], [[${chatRoom.roomWriter}]], [[${chatRoom.movieNo}]],[[${chatRoom.title}]], [[${chatRoom.posterUrl}]], [[${chatRoom.cinemaNo}]],[[${chatRoom.cinemaName}]], [[${chatRoom.cinemaLocationCode}]], [[${chatRoom.cinemaAddress}]], [[${chatRoom.roomCategory}]]);">참여</div>
                                </div>
                            </div>

                            <!--                        <div>방장 이미지</div>-->

                        </div>


                    </div>


                    <!--                카드형 레이아웃-->
                    <div class="chatRoomList-container" id="toCard-container">
                        <div th:if="${chatRoomList != null}" th:each="chatRoom : ${chatRoomList}" class="chatRoom-item card-item fade-out">
                            <div class="card-mouseover">
                                <div class="card-mouseover-text" th:if="${chatRoom.roomCategory == 'reservation'}" th:text="'모집방'"></div>
                                <div class="card-mouseover-text" th:if="${chatRoom.roomCategory == 'talk'}" th:text="'소통방'"></div>
                                <div class="card-mouseover-text joinBtn" th:onclick="joinChatRoom([[${chatRoom.roomNo}]],[[${chatRoom.roomWriter}]],[[${chatRoom.movieNo}]],[[${chatRoom.title}]], [[${chatRoom.posterUrl}]], [[${chatRoom.cinemaNo}]],[[${chatRoom.cinemaName}]], [[${chatRoom.cinemaLocationCode}]], [[${chatRoom.cinemaAddress}]], [[${chatRoom.roomCategory}]]);">참여하기</div>
                                <div class="card-report-btn" style="display: flex;gap: 3px;">
                                    <img style="width: 15px; height: 15px" src="/img/siren.png" alt="">
                                    <div class="report-btn" th:onclick="report([[${chatRoom.roomNo}]],[[${chatRoom.roomWriter}]]);">신고</div>
                                </div>
                            </div>
                            <div th:style="'width:100%; height: 400px; background-image: url('+${chatRoom.posterUrl}+'); background-position: center; background-size: cover; border-radius:20px;'">
                            </div>

                            <div class="toCard-item-info">
                                <div class="itemCard-title" th:text="'< '+${chatRoom.title}+' >'"></div>
                                <div style="font-size: 22px; font-weight:bold" th:text="${#strings.length(chatRoom.roomName) > 12 ? chatRoom.roomName.substring(0, 12) + ' ...' : chatRoom.roomName}"></div>

                                <th:block th:if="${chatRoom.recentContent == null}">
                                    <div class="itemCard-recentContent" th:text="'아직 대화한 내용이 없습니다'"></div>
                                </th:block>
                                <th:block th:if="${chatRoom.recentContent != null}">
                                    <div class="itemCard-recentContent" th:text="${chatRoom.recentContent}"></div>
                                </th:block>

                                <div style="display: inline-flex; gap: 5px; flex-wrap: wrap">
                                    <span class="room-tag" style="font-size: 14px;" th:each="tag : ${tagList}" th:if="${tag.roomNo == chatRoom.roomNo}" th:text="'#'+${tag.tagName}+' '"></span>
                                </div>

                                <div style="display: flex; height: 40px; gap: 10px">
                                    <div class="card-member-profile" style="width: 40px; height:40px; border-radius: 30%; display: none;">
                                        <th:block th:if="${chatRoom.filePath == null}">
                                            <img alt="프로필" src="/img/default_profile.png" style="width: 100%; height: 100%; border-radius: 30%;">
                                        </th:block>
                                        <th:block th:if="${chatRoom.filePath != null}">
                                            <img th:src="@{|${chatRoom.filePath}${chatRoom.fileRename}|}" alt="프로필" style="width: 100%; height: 100%; border-radius: 30%;">
                                        </th:block>
                                    </div>
                                    <div style="display: flex; flex-direction: column; justify-content: space-between">
                                        <div class="info-roomWriter" th:text="${chatRoom.roomWriter}" style="display: none"></div>
                                        <div>
                                            <th:block th:if="${chatRoom.joinCount == null}">
                                                <div style="" th:text="'1명 참여중'"></div>
                                            </th:block>
                                            <th:block th:if="${chatRoom.joinCount != null}">
                                                <div style="" th:text="${chatRoom.joinCount}+'명 참여중'"></div>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>




                                <div style="display: flex; flex-direction: column; gap: 3px;">
                                    <div th:text="${chatRoom.cinemaAddress}+' / '+${chatRoom.cinemaName}"></div>
                                    <th:block th:each="rTime : ${relativeTimeList}">
                                        <div class="itemCard-roomDate" th:if="${chatRoom.roomDate == rTime.roomDate}" th:text="'개설일 : '+${rTime.relativeTime}"></div>
                                    </th:block>
                                </div>


                            </div>


                        </div>
                    </div>


            </div>


            <div>
                <div class="paginationBox" th:unless="${#lists.isEmpty(chatRoomList)}">
                    <div>
                        <a th:if="${pn.currentPage != 1}"  href="javascript:void(0)" th:onclick="navigatePage(1)">&#10094&#10094</a>
                        <a th:if="${pn.getStartNavi() != 1}"  href="javascript:void(0)" th:onclick="navigatePage([[${pn.prevPage}]])">&#10094</a>

                        <span th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
                            <span th:if="${p == pn.currentPage}">
                                <span id="currentPageId">
                                    [[${p}]]
                                </span>
                            </span>
                            <span th:if="${p != pn.currentPage}">
                                <a href="javascript:void(0)" th:text="${p}" th:onclick="navigatePage([[${p}]]);"></a>
                            </span>
                        </span>

                        <a th:if="${pn.getEndNavi() != pn.MaxPage}"  href="javascript:void(0)"  th:onclick="navigatePage([[${pn.nextPage}]])">&#10095</a>
                        <a th:if="${pn.currentPage != pn.maxPage}"  href="javascript:void(0)" th:onclick="navigatePage([[${pn.maxPage}]])">&#10095&#10095</a>

                    </div>
                </div>
            </div>


        </div>
<!--        <br><br><br>-->
<!--        <div>최근참여많은방을 추천해요</div>-->
<!--        <div>이런주제는 어때요?</div>-->
<!--        <div>태그들</div>-->
<!--        <div>최근 대화 많은 방</div>-->

    </body>
</html>