<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
    <head>
        <title>채팅방</title>
        <!-- inline CSS 영역-->
        <style th:inline="css" type="text/css">
            .chat-room-container{
                display: flex;
                margin: 20px 0;
            }
            .reservation-info{
                width: 45%;
                height: 800px;
            }
            .chat-screen{
                width: 45%;
                height: 800px;
            }

        </style>

        <!-- inline JS 영역-->
        <script th:inline="javascript" type="text/javascript">

        </script>
    </head>

    <body>
        <h1 style="text-align: center; margin-top: 50px">채팅방</h1>
        <div class="chat-room-container">
            <div class="reservation-info">영수증</div>
            <div class="chat-screen">채팅방</div>
        </div>

    </body>
</html>