<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script crossorigin="anonymous" th:src="@{/js/chat/finalReservationWindow.js}" defer></script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/chat/finalReservationWindow.css">
    <script th:inline="javascript" defer>
        let movieNo = /*[[${chatRoom.movieNo}]]*/;
        let cinemaNo = /*[[${chatRoom.cinemaNo}]]*/;
        let title = /*[[${chatRoom.title}]]*/;
        let cinemaName = /*[[${chatRoom.cinemaName}]]*/;
    </script>
</head>
<body>
    <div id="popUp-container">
        <h1>상영관 선택</h1>

        <input style="display: block; width:50%; height: 50px; font-size: 20px; padding-left: 15px; margin:20px 0" type="date" id="datePicker" name="dateName">


        <div id="screenList-container">
            <div style="width: 70%;" th:each="screenList:${screenListByCinema}">
                <div class="screenName" th:text="${screenList.screenName}">
                </div>
                <div class="showTimeFlex">
                    <div th:if="${screenList.screenNo == showtime.screenNo}" th:each="showtime:${showtimeByScreen}" onclick="selectShowtime(this);">
                        <input type="hidden" th:value="${showtime.screenNo}">
                        <input type="hidden" th:value="${showtime.screenName}">
                        <input type="hidden" th:value="${showtime.showtimeNo}">
                        <input type="hidden" th:value="${showtime.showtimeTime}">
                        <div th:id="${showtime.showtimeNo}" class="showtimeTime" th:text="${showtime.showtimeTime}"></div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div style="width:80%; margin: 0 auto; display: flex;justify-content: end;">
        <button type="button" id="selectedBtn">초기화</button>
    </div>

</body>
</html>