<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>채팅방 찾기</title>

        <script src="https://kit.fontawesome.com/7d4169cb69.js" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/@yaireo/tagify"></script>
        <!-- 폴리필 (구버젼 브라우저 지원) -->
        <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
        <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />


        <!-- css link-->
        <link rel="stylesheet" href="/css/chat/searchList.css">
        <!-- script src-->
        <script crossorigin="anonymous" src="/js/chat/listMenuBtn.js" defer></script>
        <script crossorigin="anonymous" src="/js/chat/chatReport.js" defer></script>
        <script crossorigin="anonymous" th:src="@{/js/chat/searchChatList.js}" defer></script>
    </head>

    <body>

        <div class="listMenuContainer">
            <div class="listMenu-item" style=" background-color:#466288; color:white; cursor:auto;"><i class="fa-solid fa-magnifying-glass" style="padding-right: 10px;"></i>검색</div>
            <div class="listMenu-item" id="myBtn" onclick="showListByMyOrAll('my')">내 채팅방</div>
            <div class="listMenu-item" id="allBtn" onclick="showListByMyOrAll('all')">전체</div>
        </div>
        <div class="chatRoom-searchBox">
            <input name="searchKeyword" placeholder="관심있는 키워드로 채팅방 검색 (⬇: 드롭다운메뉴, tab : 검색어 등록, enter : 검색) ex) 영화:어바웃타임" autofocus required>
            <div onclick="searchByType(null, 1);">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <h1 style="width: 90%; margin:0 auto;">
            이런 주제 어때요?
        </h1>
        <div style="width: 90%; margin: 15px auto 50px; display: flex; flex-wrap: wrap; gap: 10px">
            <span class="chatRoom-tag" id="" th:each="distinctTag:${tagListDistinctList}" th:text="'# '+ ${distinctTag.tagName}" th:onclick="searchTagByOne('',[[${distinctTag.tagName}]],1);"></span>
        </div>
        <div class="result-history">
<!--            ~~으로 검색한 결과에요-->
        </div>
        <h1 style="text-align: center; margin-bottom: 50px">
            검색결과
        </h1>
        <div id="search-result-box">
            <div id="list-pagination-container">
                <div class="chatRoomList-container" id="toList-container">
                    <th:block th:if="${chatRoomList == null || chatRoomList.isEmpty()}">
                        <div style="margin: 30px auto; width: 100px; height:100px; background: url('/img/chat/noResult.png'); background-size: cover"></div>
                        <div class="result-empty"> 검색결과가 없습니다.</div>
                    </th:block>

                    <div th:if="${chatRoomList != null || !chatRoomList.isEmpty()}" th:each="chatRoom : ${chatRoomList}" class="chatRoom-item list-item fade-out">
                        <div class="itemBtnFlexContainer">
                            <div class="item-flex-container">

                                <div class="flex-item-memberProfile">
                                    <th:block th:if="${chatRoom.filePath == null}">
                                        <img alt="프로필" src="/img/default_profile.png" style="width: 100%; height: 100%; border-radius: 30%;">
                                    </th:block>
                                    <th:block th:if="${chatRoom.filePath != null}">
                                        <img th:src="@{|${chatRoom.filePath}${chatRoom.fileRename}|}" alt="프로필" style="width: 100%; height: 100%; border-radius: 30%;">
                                    </th:block>
                                </div>

                                <div class="flex-item-chatInfoBox">
                                    <div class="chatRoomName" th:text="${chatRoom.roomName}"></div>

                                    <div class="chatTagList">
                                        <span class="room-tag" th:each="tag : ${tagList}" th:if="${tag.roomNo == chatRoom.roomNo}" th:text="'#'+${tag.tagName}+' '"></span>
                                    </div>
                                    <div style="display: flex">
                                        <th:block th:if="${chatRoom.joinCount == null}">
                                            <div style="margin-right: 50px" th:text="'1명 참여중'"></div>
                                        </th:block>
                                        <th:block th:if="${chatRoom.joinCount != null}">
                                            <div style="margin-right: 50px" th:text="${chatRoom.joinCount}+'명 참여중'"></div>
                                        </th:block>
<!--                                        <div style="margin-right: 50px" th:text="'참여인원: '+${chatRoom.joinCount}+'명 참여중'"></div>-->
                                        <div style="display: flex;">
                                            <div th:text="${chatRoom.title}+' ('+${chatRoom.cinemaAddress}+' / '+${chatRoom.cinemaName}+')'"></div>
                                            <div class="list-report-btn" style="display: flex;gap: 3px; margin-left: 5px;">
                                                <img style="width: 15px; height: 15px" src="/img/siren.png" alt="">
                                                <div class="report-btn" th:onclick="report([[${chatRoom.roomNo}]],[[${chatRoom.roomWriter}]]);">신고</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="joinBtn" th:onclick="joinChatRoom([[${chatRoom.roomNo}]], [[${chatRoom.roomWriter}]], [[${chatRoom.movieNo}]],[[${chatRoom.title}]], [[${chatRoom.posterUrl}]], [[${chatRoom.cinemaNo}]],[[${chatRoom.cinemaName}]], [[${chatRoom.cinemaLocationCode}]], [[${chatRoom.cinemaAddress}]], [[${chatRoom.roomCategory}]]);">참여</div>
                            </div>
                        </div>
                        <!--                        <div th:text="'채팅방 생성 날짜 : '+${chatRoom.roomDate}"></div>-->
                        <!--                        <div>채팅방 최근채팅내용</div>-->
                    </div>
                </div>
<!--                paging navigation-->
                <div class="paginationBox" th:unless="${#lists.isEmpty(chatRoomList)}">
                    <div>
                        <a th:if="${pn.currentPage != 1}"  href="javascript:void(0)" th:onclick="searchByType([[${tagName}]],1)">&#10094&#10094</a>
                        <a th:if="${pn.getStartNavi() != 1}"  href="javascript:void(0)" th:onclick="searchByType([[${tagName}]],[[${pn.prevPage}]])">&#10094</a>

                        <span th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
                            <span th:if="${p == pn.currentPage}">
                                <span id="currentPageId">
                                    [[${p}]]
                                </span>
                            </span>
                            <span th:if="${p != pn.currentPage}">
                                <a href="javascript:void(0)" th:text="${p}" th:onclick="searchByType([[${tagName}]],[[${p}]]);"></a>
                            </span>
                        </span>

                        <a th:if="${pn.getEndNavi() != pn.MaxPage}"  href="javascript:void(0)"  th:onclick="searchByType([[${tagName}]], [[${pn.nextPage}]])">&#10095</a>
                        <a th:if="${pn.currentPage != pn.maxPage}"  href="javascript:void(0)" th:onclick="searchByType([[${tagName}]], [[${pn.maxPage}]])">&#10095&#10095</a>

                    </div>
                </div>
            </div>

        </div>

    </body>
</html>