<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>채팅방 찾기</title>
        <script src="https://kit.fontawesome.com/7d4169cb69.js" crossorigin="anonymous"></script>
        <!-- css link-->
        <link rel="stylesheet" href="/css/chat/searchList.css">

        <!-- inline CSS 영역-->
        <style th:inline="css" type="text/css">

        </style>

        <!-- inline JS 영역-->
        <script th:inline="javascript" type="text/javascript">

            //    페이지네이션
            function navigatePage(page){

            }

            // resultBox 애니메이션
            // function resultBoxAnimation() {
            //     const resultBox = document.querySelector('#search-result-box');
            //     if (!resultBox.classList.contains('visible')) {
            //         setTimeout(() => {
            //             resultBox.classList.add('visible');
            //         }, 1000);
            //
            //     } else {
            //             resultBox.classList.remove('visible');
            //         setTimeout(() => {
            //             resultBox.classList.add('visible');
            //
            //         }, 1000);
            //
            //
            //     }
            // }

            // tag click 검색
            // tagName -> tag검색 시 사용
            // page -> 페이징 네비에서 전달
            function searchTagByOne(tagName, page){
                // resultBoxAnimation();

                $.ajax({
                    url : "/chat/search",
                    data : {
                        "tagName": tagName,
                        "cp" : page,
                    },
                    type : "POST",
                    success : function(data){ // 서버로부터 return된 값은 직렬화된 json data로 들어옴
                            $('#list-pagination-container').replaceWith(data);
                            let listItems = document.querySelectorAll('.list-item');

                            listItems.forEach((item, index)=>{
                                setTimeout(()=>{
                                    item.classList.remove('fade-out');
                                    item.classList.add('fade-in');
                                }, 400+(index * 100));
                            });

                        // 아이템 출력 애니메이션


                    },
                    error : function(){
                        console.log("서버 전송 실패");
                    }
                });
            }



        </script>
    </head>

    <body>

        <h1>searchChat 영역입니다.</h1>
        <div class="listMenuContainer">
            <div class="listMenu-item" style=" background-color:#466288; color:white; cursor:auto;"><i class="fa-solid fa-magnifying-glass" style="padding-right: 10px;"></i>검색</div>
            <div class="listMenu-item">내 채팅방</div>
            <div class="listMenu-item" style="width: 100px;" onclick="location.href=`/chat/list`">전체</div>
        </div>
        <div class="chatRoom-searchBox">
            <input type="text" name="searchKeyword" placeholder="관심있는 키워드로 채팅방 검색 (채팅방이름, 영화, 지역, 극장)">
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <h1 style="width: 90%; margin:0 auto;">
            이런 주제 어때요?
        </h1>
        <div style="width: 90%; margin: 15px auto 50px; display: flex; flex-wrap: wrap; gap: 10px">
            <span class="chatRoom-tag" id="" th:each="distinctTag:${tagListDistinctList}" th:text="'# '+ ${distinctTag.tagName}" th:onclick="searchTagByOne([[${distinctTag.tagName}]]);"></span>
        </div>

        <div id="search-result-box">
            <div id="list-pagination-container">
                <div class="chatRoomList-container" id="toList-container">
                    <div th:if="${chatRoomList != null}" th:each="chatRoom : ${chatRoomList}" class="chatRoom-item list-item fade-out">
                        <div class="itemBtnFlexContainer">
                            <div class="item-flex-container">

                                <div class="flex-item-memberProfile" th:each="memberProfile : ${profileList}">
                                    <th:block  th:if="${memberProfile.memberId != chatRoom.roomWriter}">
                                        <img alt="프로필" src="/img/chat/defaultProfile2.png" style="width: 100%; height: 100%; border-radius: 30%;">
                                    </th:block>
                                    <th:block  th:if="${memberProfile.memberId == chatRoom.roomWriter}">
                                        <img th:src="@{|${memberProfile.filePath}${memberProfile.fileRename}|}" alt="프로필" style="width: 100%; height: 100%; border-radius: 30%;">
                                    </th:block>
                                </div>

                                <div class="flex-item-chatInfoBox">
                                    <div class="chatRoomName" th:text="${chatRoom.roomName}"></div>

                                    <div class="chatTagList">태그 :
                                        <span th:each="tag : ${tagList}" th:if="${tag.roomNo == chatRoom.roomNo}" th:text="'#'+${tag.tagName}+' '"></span>
                                    </div>
                                    <div style="display: flex">
                                        <div style="margin-right: 50px">참여인원: 00명 참여중 | 1시간전</div>
                                        <div th:text="${chatRoom.title}+' ('+${chatRoom.cinemaAddress}+' / '+${chatRoom.cinemaName}+')'"></div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="joinBtn">참여</div>
                            </div>
                        </div>
                        <!--                        <div th:text="'채팅방 생성 날짜 : '+${chatRoom.roomDate}"></div>-->
                        <!--                        <div>채팅방 최근채팅내용</div>-->
                    </div>
                </div>
<!--                paging navigation-->
                <div class="paginationBox" th:unless="${#lists.isEmpty(chatRoomList)}">
                    <div>
                        <a th:if="${pn.currentPage != 1}"  href="javascript:void(0)" th:onclick="searchTagByOne([[${tagName}]], 1)">&#10094&#10094</a>
                        <a th:if="${pn.getStartNavi() != 1}"  href="javascript:void(0)" th:onclick="searchTagByOne([[${tagName}]],[[${pn.prevPage}]])">&#10094</a>

                        <span th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
                            <span th:if="${p == pn.currentPage}">
                                <span id="currentPageId">
                                    [[${p}]]
                                </span>
                            </span>
                            <span th:if="${p != pn.currentPage}">
                                <a href="javascript:void(0)" th:text="${p}" th:onclick="searchTagByOne([[${tagName}]],[[${p}]]);"></a>
                            </span>
                        </span>

                        <a th:if="${pn.getEndNavi() != pn.MaxPage}"  href="javascript:void(0)"  th:onclick="searchTagByOne([[${tagName}]], [[${pn.nextPage}]])">&#10095</a>
                        <a th:if="${pn.currentPage != pn.maxPage}"  href="javascript:void(0)" th:onclick="searchTagByOne([[${tagName}]], [[${pn.maxPage}]])">&#10095&#10095</a>

                    </div>
                </div>
            </div>

        </div>



        <h1 style="width: 90%; margin:0 auto;">
           소통중인 채팅방
        </h1>

    </body>
</html>