<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script
            crossorigin="anonymous"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
<button th:onclick="requestPay()">결제하기</button>
<button th:onClick="cancelPay()">취소하기</button>
<input name="reservationNo" id= "reservationNo" th:value="${rDTO.reservationNo}" type="hidden">
<input id="reservationVisitor" name="reservationVisitor" th:value="${rDTO.reservationVisitor}" type="hidden">
<input id="reservationSeat" name="reservationSeat" th:value="${rDTO.reservationSeat}" type="hidden">
<input type="hidden" id="screenNo" name="screenNo" th:value="${rDTO.screenNo}">
<input type="hidden" id="movieNo" name="movieNo" th:value="${rDTO.movieNo}">
<input type="hidden" id="showtimeTime" name="showtimeTime" th:value="${rDTO.showtimeTime}">
<input type="hidden" id="showtimeNo" name="showtimeNo" th:value="${rDTO.showtimeNo}">
<input type="hidden" id="title" name="title" th:value="${rDTO.title}">
<input type="hidden" id="screenName" name="screenName" th:value="${rDTO.screenName}">
<input type="hidden" id="cinemaName" name="cinemaName" th:value="${rDTO.cinemaName}">
<input type="hidden" id="cinemaNo" name="cinemaNo" th:value="${rDTO.cinemaNo}">
<input type="hidden" id="memberId" name="memberId" th:value="${memberId}">
<input type="hidden" id="reservationDate" name="reservationDate" th:value="${rDTO.reservationDate}">
<input type="hidden" id="buyer_tel" name="buyer_tel" th:value="${rDTO.buyer_tel}">
<input type="hidden" id="buyer_email" name="buyer_email" th:value="${rDTO.buyer_email}">
<input type="hidden" id="buyer_name" name="buyer_name" th:value="${rDTO.buyer_name}">
<input type="hidden" id="adultReserved" name="adultReserved" th:value="${rDTO.adultReserved}">
<input type="hidden" id="childReserved" name="adultReserved" th:value="${rDTO.childReserved}">
<input type="hidden" id="seniorReserved" name="adultReserved" th:value="${rDTO.seniorReserved}">
<script>

    var IMP = window.IMP;
    IMP.init('imp68486865'); // 아임포트 가맹점 식별코드

    function requestPay() {
        var reservationData = {
            reservationNo: document.getElementById('reservationNo').value,
            reservationVisitor: document.getElementById('reservationVisitor').value,
            reservationSeat: document.getElementById('reservationSeat').value,
            memberId: document.getElementById('memberId').value,
            cinemaName: document.getElementById('cinemaName').value,
            screenName: document.getElementById('screenName').value,
            screenNo: document.getElementById('screenNo').value,
            movieNo: document.getElementById('movieNo').value,
            cinemaNo: document.getElementById('cinemaNo').value,
            showtimeTime: document.getElementById('showtimeTime').value,
            title: document.getElementById('title').value,
            reservationDate : document.getElementById('reservationDate').value,
            buyer_tel: document.getElementById('buyer_tel').value,
            buyer_name: document.getElementById('buyer_name').value,
            buyer_email:document.getElementById('buyer_email').value,
            showtimeNo : document.getElementById('showtimeNo').value,
            adultReserved:document.getElementById('adultReserved').value,
            childReserved:document.getElementById('childReserved').value,
            seniorReserved:document.getElementById('seniorReserved').value
        };
        console.log("Reservation Data:", reservationData);
        IMP.request_pay({
            pg: 'html5_inicis.INIpayTest', // KG이니시스
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: reservationData.title,
            amount: 14000*reservationData.adultReserved + 12000*reservationData.childReserved + 7000*reservationData.seniorReserved,
            buyer_email: reservationData.buyer_email,
            buyer_name: reservationData.buyer_name,
            buyer_tel: reservationData.buyer_tel,
            /* buyer_postcode : '123-456' */
        }, function (rsp) {
            console.log("완료")
            if (rsp.success) {
                $.ajax({
                    url: "/validation/" + rsp.imp_uid,
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        imp_uid: rsp.imp_uid,
                        merchant_uid: rsp.merchant_uid,
                    })
                }).done(function (data) {
                    alert("결제가 완료되었습니다!");
                    console.log(data);

                    var buyerInfo = {
                        "imp_uid": rsp.imp_uid,
                        "merchant_uid": rsp.merchant_uid,
                        "name": rsp.name,
                        "amount": parseInt(rsp.paid_amount, 10),
                        "buyer_email": rsp.buyer_email,
                        "buyer_name": rsp.buyer_name,
                        "buyer_tel": rsp.buyer_tel,
                        "screenNo" : reservationData.screenNo,
                        "movieNo" : reservationData.movieNo,
                        "reservationNo": reservationData.reservationNo
                    };
                    var reserveInfo = {
                        "reservationNo": reservationData.reservationNo,
                        "reservationVisitor": reservationData.reservationVisitor,
                        "reservationSeat": reservationData.reservationSeat,
                        "reservationDate": reservationData.reservationDate,
                        "memberId": reservationData.memberId,
                        "cinemaName": reservationData.cinemaName,
                        "screenName": reservationData.screenName,
                        "screenNo" : reservationData.screenNo,
                        "movieNo" : reservationData.movieNo,
                        "imp_uid": rsp.imp_uid,
                        "cinemaNo" : reservationData.cinemaNo,
                        "title" : reservationData.title,
                        "showtimeTime" : reservationData.showtimeTime,
                        "showtimeNo" :reservationData.showtimeNo,
                        "adultReserved":reservationData.adultReserved,
                        "childReserved":reservationData.childReserved,
                        "seniorReserved":reservationData.seniorReserved

                    }
                    $.ajax({
                        url: "/save_buyerInfo",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({buyerInfo, reserveInfo}),
                        success: function (response) {
                            console.log("결제정보 저장 완료");
                        },
                        error: function (xhr, status, error) {
                            console.error("결제정보 저장 실패:", error);
                            console.error("응답 내용:", xhr.responseText);
                        }
                    });
                });
            } else {
                alert("결제에 실패하였습니다. " + rsp.error_msg);
                console.error("응답 내용:", xhr.responseText);
            }
        });
    }

    function cancelPay() {
        $.ajax({
            // 예: http://www.myservice.com/payments/cancel
            url: "/payments/cancel/imp_336641553168",
            type: "GET",
            contentType: "application/json",
            // data : JSON.stringify({
            // 	merchant_uid : "merchant_1727417862892", // 예: ORD20180131-0000011
            // 	cancel_request_amount : 2000, // 환불금액
            // 	reason : "테스트 결제 환불",// 환불사유
            // 	refund_holder : "홍길동",
            // 	refund_bank : "88"
            // }),
            "dataType": "json"
        })
            .done(function (data) {
                alert("취소가 완료되었습니다!");
                console.log(data);
            });
    }
</script>
</body>
</html>