<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <link rel="stylesheet" href="/css/main/index.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
<div layout:fragment="content">
    <main>

        <div class="container">
            <section class="main-banner">
                <div id="bannerContainer">
                </div>
            </section>
        </div>
        <section class="box-office">
            <div class="box-office-header">
                <h2>무비차트</h2>
                <button class="view-all-btn" onclick="goMovieList()">전체보기</button>
            </div>
            <div class="movie-slider-container">
                <span class="slider-control" id="prevBtn"><i class="fi fi-rr-angle-left"></i></span>
                <div class="movie-slider">
                    <div class="movie-list" th:attr="data-total-movies=${bList.size()}">
                        <div class="movie-item" th:each="bList, iterStat : ${bList}">
                            <a th:href="@{/movie-detail/{movieNo}(movieNo=${bList.movieNo})}">
                                <img th:src="${bList.posterUrl}" th:alt="${bList.title}" class="movie-poster" />
                                <span class="poster-number" th:text="${iterStat.count}"></span>
                            </a>
                            <h3 class="movie-title" th:text="${bList.title}"></h3>
                            <p class="movie-info" th:text="'예매율 '+ ${bList.reservationRate}"></p>
<!--                            <p class="review-star">★ 3.4/5</p>-->
                        </div>
                    </div>
                </div>
                <span class="slider-control" id="nextBtn"><i class="fi fi-rr-angle-right"></i></span>
            </div>
        </section>


        <section class="chat-list-card">
            <div class="chat-room-header">
                <h2>커뮤니티</h2>
                <button class="view-all-btn" onclick="goChatList()">전체보기</button>
            </div>
            <div class="chat-slider-container">
                <span class="slider-prev"><i class="fi fi-rr-angle-left"></i></span>
                <div class="chat-list-card-slider">
                    <div class="chat-list-card-wrapper">
                        <div class="chat-list-card-container" th:each="room : ${cList}">
                            <a class="char-room-link" th:href="@{/chat/room/{roomNo}(roomNo=${room.roomNo})}">
                                <div class="card">
                                    <div class="image">
                                        <img th:src="${room.posterUrl}" th:alt="${room.title}">
                                    </div>
                                    <div class="info">
                                        <div class="tags">
                                            <span th:text="${room.title}"></span>
                                        </div>
                                        <h3 th:text="${room.roomName}"></h3>
                                        <p th:if="${room.roomCategory == 'reservation'}" th:text="'모집방'"></p>
                                        <p th:if="${room.roomCategory == 'talk'}" th:text="'소통방'"></p>
                                        <p th:text="${room.cinemaAddress} + ' / ' + ${room.cinemaName}"></p>
                                        <p th:text="${room.roomDate} + ' 개설'"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <span class="slider-next"><i class="fi fi-rr-angle-right"></i></span>
            </div>
        </section>

    </main>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/main/index.js"></script>
</th:block>
<script th:inline="javascript">
var banners = /*[[${bannerList}]]*/ [];








</script>
</body>
</html>