<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <link rel="stylesheet" href="/css/main/index.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<!--    채팅방 이동-->
    <script crossorigin="anonymous" src="/js/chat/listMenuBtn.js" defer></script>
    <style>

    </style>
</head>
<body>
<div layout:fragment="content">
    <main>

        <div class="container">
            <section class="main-banner">
                <div id="bannerContainer">
                </div>
            </section>
        </div>
        <section class="box-office">
            <div class="box-office-header">
                <h2>무비차트</h2>
                <button class="view-all-btn" onclick="goMovieList()">전체보기</button>
            </div>
            <div class="movie-slider-container">
                <span class="slider-control" id="prevBtn"><i class="fi fi-rr-angle-left"></i></span>
                <div class="movie-slider">
                    <div class="movie-list" th:attr="data-total-movies=${bList.size()}">
                        <div class="movie-item" th:each="bList, iterStat : ${bList}">
                            <a th:href="@{/movie-detail/{movieNo}(movieNo=${bList.movieNo})}">
                                <img th:src="${bList.posterUrl}" th:alt="${bList.title}" class="movie-poster" />
                                <span class="poster-number" th:text="${iterStat.count}"></span>
                            </a>
                            <h3 class="movie-title" th:text="${bList.title}"></h3>
                            <div class="movie-info-review">
                                <div>
                                    <p class="movie-info" th:text="'예매율 '+ ${bList.reservationRate}"></p>
                                </div>
                                    <p class="and">|</p>
                                <div class="starAndReview">
                                    <p class="star">★</p>
                                    <p class="review-star" th:text="${bList.averageScore} + '/'+ '5'">3.4/5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="slider-control" id="nextBtn"><i class="fi fi-rr-angle-right"></i></span>
            </div>
        </section>


        <section class="chat-list-card">
            <div class="chat-room-header">
                <h2>커뮤니티</h2>
                <button class="view-all-btn" onclick="goChatList()">전체보기</button>
            </div>
            <div class="chat-slider-container">
                <span class="slider-prev"><i class="fi fi-rr-angle-left"></i></span>
                <div class="chat-list-card-slider">
                    <div class="chat-list-card-wrapper">
                        <div class="chat-list-card-container" th:each="room : ${chatRoomList}">

                            <a class="chat-room-link" href="javascript:void(0)" th:onclick="joinChatRoom([[${room.roomNo}]], [[${room.roomWriter}]], [[${room.movieNo}]],[[${room.title}]], [[${room.posterUrl}]], [[${room.cinemaNo}]],[[${room.cinemaName}]], [[${room.cinemaLocationCode}]], [[${room.cinemaAddress}]], [[${room.roomCategory}]]);">
                                <div class="card">
                                    <div class="image">
                                        <img th:src="${room.posterUrl}" th:alt="${room.title}">
                                    </div>
                                    <div class="info">
                                        <div class="tags">
                                            <span th:text="${room.title}"></span>
                                            <div class="chatTagList" style="margin-top: 3px;">
                                                <span th:each="tag : ${tagList}" th:if="${tag.roomNo == room.roomNo}" th:text="'#'+${tag.tagName}+' '"></span>
                                            </div>
                                        </div>

                                        <h3 style="font-size: 20px; font-weight:bold" th:text="${#strings.length(room.roomName) > 15 ? room.roomName.substring(0, 12) + ' . . .' : room.roomName}"></h3>

                                        <p th:if="${room.roomCategory == 'reservation'}" th:text="'모집방'"></p>
                                        <p th:if="${room.roomCategory == 'talk'}" th:text="'소통방'"></p>
                                        <p th:text="${room.cinemaAddress} + ' / ' + ${room.cinemaName}"></p>
                                        <div style="display: flex; justify-content: space-between; font-size: 14px;font-family: 'NEXON Lv1 Gothic OTF', serif;color: #555555">
                                            <th:block th:each="rTime : ${relativeTimeList}" >
                                                <p class="itemCard-roomDate" th:if="${room.roomDate == rTime.roomDate}" th:text="'개설일 : '+${rTime.relativeTime}"></p>
                                            </th:block>
                                            <div class="joinCountBox">
                                                <th:block th:if="${room.joinCount == null}">
                                                    <div style="" th:text="'1명 참여중'"></div>
                                                </th:block>
                                                <th:block th:if="${room.joinCount != null}">
                                                    <div style="" th:text="${room.joinCount}+'명 참여중'"></div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <span class="slider-next"><i class="fi fi-rr-angle-right"></i></span>
            </div>
        </section>

    </main>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/main/index.js"></script>
</th:block>
<script th:inline="javascript">
var banners = /*[[${bannerList}]]*/ [];








</script>
</body>
</html>