
* {
    font-family: 'NEXON Lv1 Gothic OTF', serif;
}

h1.page-title {
    font-family: 'GmarketSansMedium', sans-serif;
    text-align: center;
    margin: 30px;
}

/* 페이징 처리 */
.paginationBox a {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    min-width: 30px;
    height: 30px;
    text-decoration: none;
    color: #6e6e6e;
}

.paginationBox a:hover {
    color: #EA4E4A;
}

.paginationBox #currentPageId {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    min-width: 30px;
    height: 30px;
    font-weight: bold;
    text-decoration: none;
    /*border-radius:50%;*/
    /*background-color:#EA4E4A;*/
    color: #EA4E4A;
}

.paginationBox {
    text-align: center;
    height: 120px;
    line-height: 100px;
}

.chatRoomList-main {
    width: 100%;
}

/*list, card 기준이 되는 relative 컨테이너*/
#position-box {
    position: relative;
    width: 100%;
    height: 1600px;
    overflow: hidden;
}

/* 검색, 내 채팅방, 전체 메뉴 버튼*/
.listMenuContainer {
    margin: 0 auto;
    display: flex;
    width: 90%;
    height: 50px;
    font-size: 20px;
}

.listMenu-item {
    user-select: none;
    /*width: 120px;*/
    padding: 0 30px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    background-color: #ececec;
    border-radius: 100px;
    transition: all 200ms;
    margin: 5px;
    cursor: pointer;
}

.listMenu-item.activeBtn {
    /*width: 100px;*/
    color: white;
    background-color: #466288;
    cursor: auto
}

.listMenu-item:hover {
    background-color: #466288;
    color: white;
    transform: scale(1.02);
}


/* list 전환 버튼 css */
#listSwitchContainer {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 45px;
    align-items: center;
    text-align: center;
    line-height: 45px;
}

.listSwitch-btn {
    width: 110px;
    height: 100%;
    background-color: #ececec;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: all 200ms;
    cursor: pointer;
    margin-right: 20px;
}

.listSwitch-btn span {
    display: inline-block;
    margin-left: 10px;
}

.listSwitch-btn:hover {
    transform: scale(1.05);
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #EA4E4A;
}

#toCard-btn.active, #toList-btn.active {
    transform: scale(1.05);
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #EA4E4A;
}

/* list형, card형 css */
#toList-container {
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    z-index: 3;
}

#toCard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    z-index: 2;
}

/* list형 기본 스타일 */
.list-item {
    width: 90%;
    height: 150px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    /*transition: opacity 0.5s ease, transform 0.5s ease;*/
    opacity: 1;
    /*transform: scale(1);*/
    margin: 0 auto;
    margin-bottom: 20px;

    visibility: visible; /* 처음엔 숨겨져 있음 */
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s; /* visibility는 0.5초 후에 표시 */
}

.list-item.fade-in:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px 5px rgb(162, 162, 162);

}

/* list형 fade-in 스타일 */
.list-item.fade-in {
    visibility: visible; /* 0.5초 후에 보이게 */
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.2s; /* 부드럽게 등장 */
}

/* list형 fade-out 스타일 */
.list-item.fade-out {
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
}


/* card형 기본 스타일 */
.card-item {
    width: 30%;
    height: 500px;
    background-color: #ffe5b4;
    /*padding: 20px;*/
    border-radius: 20px;

    opacity: 0;
    visibility: hidden; /* 처음엔 숨겨져 있음 */
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s; /* visibility는 0.5초 후에 표시 */
}

/* card형 fade-in 스타일 */
.card-item.fade-in {
    visibility: visible; /* 0.5초 후에 보이게 */
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease; /* 부드럽게 등장 */
}

/* card형 fade-out 스타일 */
.card-item.fade-out {
    opacity: 0;
    transform: scale(0.9);
}


/* list item flex */
.item-flex-container {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.flex-item-memberProfile {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    position: relative;
}

.chatRoomName {
    font-size: 25px;
    /*font-weight: bold;*/
}

.chatTagList {
    color: #6e6e6e;
}

.flex-item-chatInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemBtnFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joinBtn {
    width: 60px;
    height: 40px;
    background-color: #6e6e6e;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: all 200ms;
}

.joinBtn:hover {
    color: white;
    font-weight: bold;
    background: #EA4E4A;
    transform: scale(1.02);
}

.card-report-btn{
    position: absolute;
    right: 10px;
    bottom:60px;
    color: white;
}

.list-report-btn{
    margin-left: 30px;
    color: #6e6e6e;
    font-size: 16px;
}

.report-btn:hover{
    color: #EA4E4A;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}
/* card item */
.toCard-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #fff8dc;
    border-radius: 20px;
    transition: all 300ms;
    z-index: 5;
}

.toCard-item-info:hover {
    height: 70%;
}

.itemCard-title, .itemCard-recentContent, .itemCard-roomDate {
    display: none;
}
.itemCard-recentContent{
    height: 100px;
}

.card-mouseover {
    user-select: none;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    z-index: 3;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.card-mouseover.visible {
    transition: all 200ms;
    opacity: 0.7;
}

.card-mouseover-text {
    text-align: center;
    color: white;
    font-size: 20px;
}

.card-mouseover-text.joinBtn {
    margin: 20px auto;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    transition: all 200ms;
}

.card-mouseover-text.joinBtn:hover {
    background-color: white;
    color: black;
}

.result-empty{
    text-align: center;
    font-size: 25px;
}

#chatNavigation{
    text-align: center;
    width: 130px;
    height: 50px;
    color: white;
    background-color: #466288;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 200ms;
}

#chatNavigation:hover{
    opacity: 1;
}
#chatNavigation:active{
    transform: scale(0.95);
}