#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'NEXON Lv1 Gothic OTF', serif;
}
#login-form {
    width: 580px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px gainsboro;
    padding: 80px 80px 70px 80px;
    display: inline-block;
}
#login-form h1 {
    font-family: 'GmarketSansMedium', serif;
    letter-spacing: 3px;
    font-size: 32px;
    color: #D54946;
}
#login-form label {
    font-size: 16px;
}
.hide {
    display: none;
}
.message {
    color: #ED1C24;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}
.error-border {
    transition: none;
    border: 2px solid #ED1C24;
}
.common-input-box {
    padding: 10px;
    margin: 10px 0;
}
.common-primary-btn {
    margin: 10px 0;
}
#login-form ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 16px 0;
}
#login-form ul li {
    padding: 0 25px;
    font-size: 16px;
}
#login-form ul li:first-child {
    border-right: 2px solid black;
}
#login-form ul li a {
    text-decoration: none;
    color: black;
}
#login-form ul li a:hover {
    color: #EA4E4A;
}
.divider-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 40px 0;
    position: relative;
}
.divider {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}
.divider-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}
#naver-login-btn {
    width: 180px;
    margin-left: 20px;
    display: block;
    float: left;
}
#kakao-login-btn {
    width: 180px;
    margin-left: 20px;
    display: block;
    float: left;
}